[2017-03-20 04:28] mhostetter opened #1244 "gr_modtool: Failed import in Python QA"
I have an OOT module called `gr-misc`. This is the auto-generated Python QA if I add a block called `blah`.
[code]

Python complains saying:
[code]

I'm not sure why it's needed, but just wanted to point it out.

[2017-03-20 06:13] mbr0wn commented on #1242
OK, PDF upload is now enabled. I'm not so sure about .tar.gz, but it can be added fairly easily.

Thanks for taking a stab at a style guide! Also, your suggestions are highly appreciated. I wasn't trying to shoot down the "All Pages" suggestion, and if there's demand it's easy to add to the sidebar now.

[2017-03-20 06:16] mbr0wn commented on #1242
...we're off of Redmine at this point.

[2017-03-20 06:19] bastibl commented on #1242
Maybe the "Development" tab on gnuradio.org should be renamed to Wiki? If someone is new to GNU Radio and looking for tutorials and stuff like that, he might not expect it under development.

[2017-03-20 07:15] peterwillcn commented on #1238
use -DENABLE_STATIC_LIBS=True
see https://github.com/gnuradio/volk/issues/111

[2017-03-20 07:15] #1238 closed

[2017-03-20 17:21] pelijah commented on #1237
@mbr0wn No

[2017-03-20 17:21] pelijah commented on #1236
@mbr0wn No

[2017-03-20 22:38] mhostetter commented on #1244
So, I believe the `import misc_swig as misc`, again where `gr-misc` is the GNU Radio module, is to import the module under test.  On my machine, at least, `import misc` works but the first does not.

[2017-03-20 22:42] jmcorgan commented on #1244
Those scripts aren't meant to be run directly; rather, they are executed when running 'make test' in the build directory.  In that case a very special environment is setup such that the uninstalled code in the build directory is used instead of anything the might have already been installed on the path.  That is why the import fails when running it in a normal environement.

[2017-03-20 23:01] mhostetter commented on #1244
Ah, ok! No issue then. Thanks for replying and clarifying for me.

[2017-03-20 23:02] #1244 closed

[2017-03-21 04:31] #1162 closed

[2017-03-21 04:52] jmcorgan commented on #1242
I suggest we change the title of the main page to something besides "Main Page", like "Welcome to GNU Radio".  This would let us remove the extra header in the actual content.

[2017-03-21 16:12] mbr0wn commented on #1242
@jmcorgan I've removed the extra header. Need to double-check about renaming the main page.

@bastibl Yeah I thought the same. Need to figure out how to change stuff on the website.

[2017-03-21 16:33] jmcorgan commented on #1242
The main page does look cleaner now, thanks.

[2017-03-23 16:54] mhostetter opened #1249 "grc: Add units column to block properties dialog"
This a feature request. Just a thought I had and I wanted to share it.

I think it would be nice to add a Units columns to the block Properties dialog box. I was thinking as the 3rd column, to the right of the parameter value entry column. Often times when making a parameter I feel the need to add the units in parentheses to the `<name>` tag, but the name gets too long and it becomes cluttered. It

[2017-03-23 17:11] mhostetter opened #1250 "grc: Add hover-over documentation for block parameters"
This is a feature request.

I think it would be nice to add another documentation feature to blocks in GRC. When I'm using blocks in GNU Radio, often times I don't know the exact intent of a particular parameter. Take the Clock Recovery MM block, for instance, a block I'm currently trying to master.

![image](https://cloud.githubusercontent.com/assets/12112573/24259824/6e36a694-0fc8-11e7-9f73-ddcf

[2017-03-23 17:49] jmcorgan commented on #1249
I think this is a great idea.  The GRC team is a little stretched at the moment working on 3.8, but if you'd be willing to help at their direction on this, I think this could be done in our current code base.

[2017-03-23 17:50] jmcorgan commented on #1249
@skoslowski

[2017-03-23 17:55] jmcorgan commented on #1250
My comments in #1249 apply here as well--except here we are supposed to have doxygen param comments in the block header files for this.  These could get propagated to the block/param documentation in GRC like the rest do.  The <doc> section in XML is really only for unusual blocks that don't have this mechanism, and is mostly unused.

[2017-03-23 17:56] mhostetter commented on #1249
I'm always willing. I really know nothing about the code architecture for GRC and I don't have tons of QT experience, but if @skoslowski can point me in the right direction, I'm willing to take a crack at it.

[2017-03-23 17:58] mhostetter commented on #1250
Ok, if there's a mechanism to access the doxygen `\param` documentation from GRC, that would work.

[2017-03-23 20:02] skoslowski commented on #1250
Per param documentation would be quite nice. I had thought this before, when the docstring loader was rewritten. here are my notes on it:

- Currently, GRC attempts to guess the module and class name of each (swig-wrapped) block. It then loads that and reads the class docstring which gets placed there by swig. that happens async, triggered by a reload of the block tree.

- It would be nicer to do

[2017-03-23 20:09] skoslowski commented on #1249
this could potentially take up too much space, e.g. if sth. "channels" is used.
- I'd rather have that information shown as part of #1250, maybe using special formatting to highlight it
- or show param names and that unit in a separate row, on the left and right, respectively. would have to try that out to see how it looks

[2017-03-26 04:26] mbr0wn commented on #1228
If we merge #1252, we get this. I'll close this and move the action to the PR.

[2017-03-26 04:26] #1228 closed

[2017-03-26 04:29] mbr0wn commented on #1222
On master, it's 2.0.4 now, and we have other PRs lined up for this. This PR is now redundant.

[2017-03-26 04:29] #1222 closed

[2017-03-26 04:29] mbr0wn commented on #1222
...this issue, I mean.

[2017-03-26 04:31] mbr0wn commented on #1227
I lost track of what the problem is. If we bump Boost to 1.53, is this a none-issue then? Because if so, we can close this.

[2017-03-26 04:40] mbr0wn commented on #1164
We even have a tool for this (`dtools/bin/remove_whitespace`), and we used to run it occasionally in the past. It only removed trailing whitespace, though.

[2017-03-26 04:41] mbr0wn commented on #1202
@n-west

[2017-03-26 05:27] fake-name commented on #1164
I'd suggest something like developing a  [`astyle`](http://astyle.sourceforge.net/) ruleset that can be run against the whole tree. That could be part of the repository.

[2017-03-26 05:31] jmcorgan commented on #1227
We merged #1123 anyway, so it's no longer an issue.

[2017-03-26 05:31] #1227 closed

[2017-03-26 05:33] jmcorgan commented on #1164
@fake-name Let me know if you develop this.  Otherwise, it's going to be pretty low on this of things right now.

[2017-03-26 05:37] fake-name commented on #1164
Well, I mean, putting together a astyle-ruleset is quite easy (I've done it to 80+KLOC codebases in the past without issue), but the problem as I understood it was that a bunch of whitespace changes would break the some merges with a development branch?

[2017-03-26 05:39] jmcorgan commented on #1164
Not yet, but it's getting closer.

[2017-03-26 06:06] fake-name commented on #1164
The big challenge after that would be deciding a coding style. astyle can put your code in whatever format you want.

 - Indentation: Spaces? Tabs? 2-space or 4 space (3 space if you hate everything)
 - Bracket style: Allman? K&R? Whitesmith? (and there's a bunch more)
 - Do you indent the interior of classes?
 - And switch statements?
 - And labels?
 - What about preprocessor statements?
 - Do yo

[2017-03-26 06:08] jmcorgan commented on #1164
Almost all the C++ code in GNU Radio was originally written with Emacs C++ mode; with nothing else to go on, mimicking the same choices made there would get you somewhere acceptable.

[2017-03-26 06:09] fake-name commented on #1164
Well, that's a good place to start!

[2017-03-26 07:22] bastibl commented on #1164
Is there a reason to use astyle and not clang-format? AFAIK, the latter has a more robust parser.

[2017-03-26 07:22] fake-name commented on #1164
Nope, other then I've used astyle.

[2017-03-26 07:46] bastibl commented on #1208
Homebrew updated pyqt5 to use the default qt5 libraries (as opposed to pulling in a second outdated version, which made compiling GNU Radio impossible). The `next` branch of GNU Radio is now straightforward to compile. You only have to enable the Python2 bindings for pyqt5 manually:

[code]

[2017-03-26 08:09] bastibl commented on #1239
I think also the sink version is not needed. You just make the output optional as you already mentioned. GNU Radio won't optimize out any blocks.
AFAIS, the problem is your block. Your `start()` never returns as it directly calls `run()`. Note the blocks main thread belongs to the GNU Radio scheduler. You should not try to overwrite and manually `run()` it . You might want something similar to GNU

[2017-03-26 09:08] bastibl commented on #1217
If this is still a problem, could you please try adding `set(GSL_FOUND OFF)` at the top of [FindGSL.cmake](https://github.com/gnuradio/gnuradio/blob/master/cmake/Modules/FindGSL.cmake).

I don't know much about cmake, but maybe GSL is not found through pkg_config. Then, in the first run, cmake will look for the library as it is supposed to. In the second, when GSL was already found, the part at th

[2017-03-27 01:23] mbr0wn commented on #1239
Agree with @bastibl. We have a pub/sub model for the messages, so if there's no sub, that doesn't really matter from a GNU Radio perspective.

[2017-03-27 03:04] jmcorgan commented on #1239
Ok, let's close this out then.

[2017-03-27 03:04] #1239 closed

[2017-03-27 15:34] mhostetter commented on #1239
Ok, thanks for the feedback.

[2017-03-28 16:08] mhostetter commented on #1230
I also think breaking up `gr-blocks` is a good idea. I also like @marcusmueller's idea of "putting functionally similar blocks in the same module".

What about something like:

* `gr-controlport` for Control Port blocks
* `gr-conversion` for Type Conversion blocks
* `gr-debug` for Debug Tools blocks
* `gr-file` for File Operator blocks
* `gr-math` or `gr-arithmetic` for Math Operators blocks
* `gr

[2017-03-29 19:25] christhephish opened #1255 "GRC scripts will not compile with QT_GUI option & RDS Panel enabled"
example - make working script w/ WX_GUI option set and incorpoorating RDS_PANEL block - script compiles, runs and produces (soon to be deprecated?) WX_GUI panel w/ attached RDS output.

bug - rebuild exact script w/ QT_GUI option set w/ incorporating RDS_PANEL block - script starts to compile, crashes , throws trace

`
**_File "/home/chris/sdr/FM_RDS.py", line 129, in __init__
    self.gr_rds_pane

[2017-03-29 19:51] skoslowski commented on #1255
Well, GUI blocks are build for a specific framework - WX in this case.
This fact doesn't seem to be communicated with GRC here, else it wouldn't even let you Generate in QtGui mode.

To be usable with QtGui it has to be rewritten using Qt. Best continue this discussion the/a gr-rds tracker.

[2017-03-29 19:51] #1255 closed

[2017-03-29 20:11] bastibl commented on #1255
Just for reference, the `next` branch of the RDS module has a QT panel.

[2017-03-30 19:02] awalls-cx18 commented on #1249
Some units can be difficult to state tersely. "normalized radians/sample" (PLL blocks) and "nominal samples/second" (symbol timing recovery blocks) come to mind.
But overall, I like the idea.

[2017-04-02 07:44] noc0lour opened #1257 "zeromq: qa tests contain race condition"
Current zeromq tests contain a race condition since the send/recv blocks can be instantiated/run in any order and the send block could send its message to an unmonitored port and the recv block would miss the message, resulting in a flaky test. Possible solution could be starting a separate flowgraph for the receive blocks before starting the flowgraph for the send blocks.

For `qa_zeromq_pub` som

[2017-04-02 21:30] jmcorgan commented on #1230
I don't like proliferating top-level components, as they impact a lot of things throughout the tree (inter-component dependencies, cmake, documentation, import lines, etc.)  So, while I'm not fond of expanding gr-blocks, I think the simplest thing would be to follow @jdemel original idea (move some from gr-analog to gr-blocks).

[2017-04-02 21:45] jmcorgan commented on #1249
@skoslowski I'll assume you'll take lead on figuring out how to get this implemented and into a PR.

[2017-04-04 05:06] jmcorgan commented on #1208
Closing until OP reports back.

[2017-04-04 05:06] #1208 closed

[2017-04-04 05:09] jmcorgan commented on #1207
@nowls @awalls-cx18 Can you two summarize what you think is the best path to addressing this?

[2017-04-04 05:10] jmcorgan commented on #1204
@michaelld Let me know if this is an issue or if it should be closed.

[2017-04-04 05:11] jmcorgan commented on #1198
I know this has been open a long time without comment--I'd like to see a suggested PR, bonus points for a QA test that would fail without the changes and succeed with them.

[2017-04-04 05:13] jmcorgan commented on #1164
@fake-name Do you plan to continue on this?

[2017-04-04 05:14] fake-name commented on #1164
Whoops, haven't had time, and the project at work that involved gnuradio has moved on.

[2017-04-04 05:15] jmcorgan commented on #1164
Ok, closing.

[2017-04-04 05:15] jmcorgan commented on #1163
Closing as submitted PR was withdrawn.

[2017-04-04 05:15] #1163 closed

[2017-04-04 05:27] bastibl commented on #1204
I think at least the `memcpy` arguments should be swapped. If I'm not mistaken it copies the uninitialized array into the variable.
https://github.com/gnuradio/gnuradio/blob/master/gr-audio/lib/osx/osx_impl.cc#L46

[2017-04-04 06:55] noc0lour opened #1261 "qa: flaky/broken unittests"
A couple of unit tests are  flaky and/or broken. In favor of opening a separate issue for each one I'd collect them here in a check list.

Everyone is welcome to investigate the root cause for a flaky/broken QA test, just drop a comment down below which one you are looking into. A lot of times it is just a race condition when starting/stopping a flow graph, so fixing these should be fairly straigh

[2017-04-04 06:56] noc0lour commented on #1257
Closing. Fix is in #1260 and collection of flaky/broken QA tests in #1261 superseeds this issue.

[2017-04-04 06:56] #1257 closed

[2017-04-04 07:11] jmcorgan commented on #1261
The qa_pmt segfault only happens on the python3 branch.

[2017-04-04 07:13] jmcorgan commented on #1261
Also, just FYI, most of the above issues only happen with parallel ctest invocations; that is, the underlying issues exist but aren't often triggered when doing plain 'make test'.  To see the above, run 'ctest -j <ncores>' in the build directory.

[2017-04-04 10:59] michaelld commented on #1204
I think @bastibl is correct, that we need to swap the first 2 arguments. Glad it's just for debug purposes & not critical runtime! I'll verify & do a PR.

[2017-04-04 12:41] mhostetter commented on #1164
@jmcorgan this is something I'd be interested in picking up moving forward. I like @bastibl idea of using clang-format. Would you like me to look into it?

[2017-04-04 13:32] jmcorgan commented on #1164
Go ahead.

[2017-04-05 00:24] awalls-cx18 commented on #1207
@jmcorgan @nowls : Make the correlation peak detector algorithm selectable: static relative linear threshold, dynamic relative logarithmic threshold.
The first option above is the old behavior of the block. The second option above is the new, current behavior of the block.
The first option works well enough for high SNR situations with preambles with poor correlation properties. (VHF Maritime data

[2017-04-05 20:39] mhostetter opened #1263 "grc: Add hide option to GRC Parameter"
This is a feature request.

I think it would be nice to add a "Hide" field in the Parameter block beneath "Short ID". This way certain fields don't have to appear on a hierarchical block. Hide could be an enum with options `None`, `Part`, or `All` and maybe default to `None`.

![image](https://cloud.githubusercontent.com/assets/12112573/24725641/aeedc8ac-1a1d-11e7-9e85-4b32906687cf.png)

What do y

[2017-04-06 07:01] skoslowski commented on #1263
I think, the the "Part" option is a great idea. I not sure I understand the use-case for 'All'. Why not use a variable instead of a hidden parameter? Anyway, this would have to be an enum entry.

If you want to go ahead and implement this, I'll be looking forward to your PR =)

[2017-04-06 08:57] kartikp1995 commented on #1263
I can work on this. If @mhostetter, hasn't started yet.

I believe we need to update in [this file](https://github.com/gnuradio/gnuradio/blob/master/grc/core/generator/Generator.py#L291). Am I correct?

Once I get confirmation from @mhostetter, I will make the PR asap.

[2017-04-06 10:08] kartikp1995 commented on #1263
Added PR #1265

Kindly review it.

[2017-04-06 11:51] mhostetter commented on #1263
@skoslowski you're right. The `All` option doesn't make any sense.

@kartikp1995 thanks! I would've submitted a PR, but I'm less familiar with where all the code lives in GRC land.

[2017-04-06 11:57] skoslowski commented on #1263
Glad everybody's happy, but, @kartikp1995, you did indeed jump the gun a little...
@mhostetter, you're welcome to comment on or review the pr

[2017-04-06 12:04] mhostetter commented on #1263
I'm building and testing the code right now.

[2017-04-06 12:24] skoslowski commented on #1263
FYI, with gr installed you can run grc straight from the source tree.

[2017-04-06 12:31] kartikp1995 commented on #1263
@skoslowski Sorry for rushing up. I will wait for the signal next time. :)

[2017-04-06 12:34] mhostetter commented on #1263
@skoslowski thanks for the tip!

[2017-04-07 21:59] mhostetter opened #1267 "gtqui: Num Rows disappears with Byte Message in Time Raster Sink"
When the block is created with the `Byte` type, both `Num. Rows` and `Num. Cols` are configurable.
![image](https://cloud.githubusercontent.com/assets/12112573/24821202/440621b6-1bbb-11e7-8ca5-c01806b8ebea.png)

When switching to `Byte Message`, `Num. Rows` disappears.
![image](https://cloud.githubusercontent.com/assets/12112573/24821239/6e2d0fd6-1bbb-11e7-868e-8377a3f1ee71.png)

I learned about t

[2017-04-07 22:04] mhostetter commented on #1267
I just realized usage of the `Byte Message` option only prints 1 row at a time, which is different from what I expected. I achieve my desired usage by putting a PDU to Tagged Stream block between my PDU source and a `Byte` type Time Raster Sink.

Maybe this block error could be avoid if the default `Num. Rows` was `1`. Then there wouldn't be a `<check>` error.

[2017-04-10 01:49] noc0lour opened #1271 "CI: to-do list"
Expand test matrix:

## per PR
- [x] next: ubuntu 16.04 qt5
- [x] python3: ubuntu 16.04 py2
- [ ] codecov.io
- [ ] cppcheck delta
- [ ] abichecker delta

## on push:
- [x] all PR tests (minus mergeability)
- [ ] Include-what-you-use report
- [ ] documentation generation

## weekly:
- [ ] all PR tests (minus mergeability)
- [ ] coverity (on master)

In general:
- [x] specify DESIRED_QT_VERSION
- [x

[2017-04-10 02:31] jmcorgan commented on #1271
For Ubuntu 16.04, next branch, QT4, you need to specify -DDESIRED_QT_VERSION=4, and use an builder image with QT4 installed.

For Ubuntu 16.04, next branch, QT5, you need to use an builder image with QT5 installed.

[2017-04-10 02:32] jmcorgan commented on #1271
We need to have the deps installed for building the docs and turn that on in all the builders.

[2017-04-10 17:52] kartikp1995 commented on #1271
Not sure if this is the right place but add "setting up SSL certificate for `ci.gnuradio.org`" in checklist. :)

[2017-04-11 17:43] muhantu opened #1273 "rx_ofdm.grc is blank"
![screenshot from 2017-04-12 00-41-57](https://cloud.githubusercontent.com/assets/25543023/24922532/e0013e10-1f18-11e7-9aa6-fbc6b427d7bf.png)

I just open and execute the flow graph, and just appear a blank window..

[2017-04-11 18:00] jmcorgan commented on #1273
So, this example actually doesn't have any graphical displays, and its output is entirely in the tag debug output you see in the reports part of GRC.  The actual bug is that the options block has this set to QTGUI, but instead this should be a No GUI app.

[2017-04-11 18:53] nowls commented on #1207
@jmcorgan @awalls-cx18 : I agree with Andy. The user should be able to choose between the two methods, i.e., absolute or dynamic thresholding. At this point I'm not sure which would be better to make the default, since users of this block may have already dealt with the pain of changing their applications to reflect the change. At minimum it should be documented. Additionally, I think it would be

[2017-04-11 22:27] jmcorgan commented on #1273
Fixed in #1274

[2017-04-11 22:27] #1273 closed

[2017-04-13 16:40] #1080 closed

[2017-04-15 06:31] stackprogramer opened #1279 "ATSC example file in Simulation gnuradio is not work?"
there is in ATSC file example file gnuradio-master/gr-dtv/examples:

when i test ATSC in simulation gnuradio it can not create any output mpeg ts file............
i even set file source complex and i delete ISShortTOcomplexBlock.........it has not any output
why simulation ATSC has problem???
i soon share video on youtube.
 thank you
best regards stackprogramer

[2017-04-15 16:27] stackprogramer commented on #1279
shared video youtube problem
https://www.youtube.com/watch?v=SI4xCfmpwNM

[2017-04-15 22:51] drmpeg commented on #1279
You have to match the sample rates. In file_atsc_rx.grc, change the sample_rate variable from 6.25e6 to 4500000.0 / 286 * 684.

Also, as you've already discovered, delete or bypass the ISHort to Complex block and change the File Source block Output Type from Short to Complex.

The receiver takes a while to synchronize, so the first part (maybe 5000 or so TS packets, or about 1 megabyte) of the out

[2017-04-15 22:54] drmpeg commented on #1279
The test Transport Stream for file_atsc_tx.grc is available here.

http://www.w6rz.net/advatsc.ts

As described in the README.atsc file.

[2017-04-16 03:46] noc0lour commented on #1271
@kartikp1995 look at this shiny SSL everywhere (:

[2017-04-16 12:05] stackprogramer commented on #1279
hi, thanks ,but with your sample rate 4500000.0 / 286 * 684. and  video file example same before we can not simulate i soon share video........

[2017-04-16 23:04] ghostop14 opened #1280 "Found the ATSC overrun source - python ATSC RX Filter"
I've been working on seeing if I could get the ATSC pipeline to work straight from hardware to file without any overruns so I broke the hierarchical blocks into the subcomponents and started going through them one at a time.  Turns out the 1 block that was causing the biggest hit was the ATSC RX Filter block.  Looks like it was still in Python.  I ported it to C++ here https://github.com/ghostop14

[2017-04-16 23:18] jmcorgan commented on #1280
The ATSC RX Filter block is a Python hierarchical block.  This is a construct in GNU Radio where underlying blocks can be made to appear as a single block. However, the dataflow is still handled in the work functions of the underlying blocks; there is no DSP happening in Python.

In fact, in this hierarchical block, it is simply used as a way of forming the filter taps of a polyphase filter/resamp

[2017-04-17 00:15] ghostop14 commented on #1280
Hmmm, thanks for the info on the python/c++ hierarchical blocks.  In that case I'll keep looking.

[2017-04-17 00:15] #1280 closed

[2017-04-17 16:38] stackprogramer commented on #1279
sharing video ,in debian os jessie , gnuradoi 3.7.10 we have problems with atsc.ts file that you was shared best regards stackprogramer

https://www.youtube.com/watch?v=X0cDHiFW050

[2017-04-17 16:58] jmcorgan commented on #1279
The issues system here is for reporting bugs; I think your issue more one of support.  Please take this to the gnuradio mailing list for help there.

[2017-04-17 16:58] #1279 closed

[2017-04-19 13:12] giladbeeri opened #1288 "FileSink should have an option to fail if file already exists"
FileSink has 2 options: append or overwrite.
Sometimes users forget to change the filename but they don't intend to either lose data (overwrite) or modify it (append).
An option to configure FileSink to throw an exception if the file already exists will be useful.

[2017-04-19 21:59] mhostetter commented on #1263
#1265 is now merged. Thanks @kartikp1995!

[2017-04-19 21:59] #1263 closed

[2017-04-19 22:21] kartikp1995 commented on #1122
Can be closed. #1188 is merged.

[2017-04-19 22:30] #1122 closed

[2017-04-20 14:01] skoslowski opened #1290 "Block width change when exporting FG"
the PangoCairo layout of the block title doesn't seem to be updated correctly and overflow

[2017-04-20 14:06] skoslowski opened #1291 "Block position/size changes during zooming"
the font scaling seems the the problem

[2017-04-21 04:24] drmpeg commented on #1279
There was a bug/regression in the PFB arbitrary resampler that was affecting the ATSC receiver in GNU Radio versions from 3.7.6 to 3.7.10.1.

You'll have to upgrade to the 3.7.10.2 or 3.7.11 release where the bug is fixed by this commit.

https://github.com/gnuradio/gnuradio/commit/915f1b02408a6a4f2ce2ffb2d9336643745aa939

[2017-04-21 08:07] stackprogramer commented on #1279
@drmpeg  thanks very much, i upgraded to gnuradio 3.7.12, (before i had gnuradio 3.7.1) now it work like charm.
best regards stackprogramer

[2017-04-22 08:58] rubund opened #1293 "Make it convenient for blocks to know when the upstream blocks have returned -1 in general_work"
In order to implement blocks for "appending at the end of input stream", "concatenating streams" and "repeating streams of unknown finite length", it would be good to have a way to know from within the block code that the inputs have returned -1 in general_work.

As it is today, the block will simply also just be marked as done (provided that ninput_items_required is above 0).

I have asked on the

[2017-04-22 10:42] rubund commented on #1293
Ok, so digging into the code for gnuradio-runtime, gave me enough knowledge to figure out how to achieve this without touching the scheduler code! It is possible with only putting some "advanced stuff" into forecast and general_work. I will add the details soon.

So I will change the title of the issue to "Make it **convenient** for blocks to know when the upstream blocks have returned -1 in gener

[2017-04-22 23:02] #1293 closed

[2017-04-24 04:35] vamsi765 commented on #1045
Hi,

Is this resolved? I still face the issue with log4cpp on Mac, where I installed gnuradio using Macport developer version.

v3.7-MacPorts-devel-git-3a2c67c6(20170413)

https://github.com/gnuradio/gnuradio/commit/3a2c67c67639e0a43ec90e69199c0e4b0cf1b05b

Issue:
[ 17%] Linking CXX shared library libgnuradio-fsk_mod.dylib
Undefined symbols for architecture x86_64:
  "log4cpp::Appender::AppenderMa

[2017-04-24 07:17] bastibl commented on #1045
So you are trying to build an OOT module against GNU Radio master? Is the code somewhere online?

I don't use MacPorts. Does it compile GNU Radio with log4cpp support?
Do you still have log4cpp installed?

Can you run `otool -L libgnuradio-runtime.dylib` (might be somewhere under `/opt/`)

What libraries do you link your module against? Did you try the fix suggested in this thread?

Can you post t

[2017-04-25 00:00] vamsi765 commented on #1045
Almost, As I understand Macport gnuradio devel version updates every week or so.

Any code works the same, simple module with a block, I have put a simple code on GitHub
https://github.com/vamsi765/gr-testinggnuradio

There is another uploaded tutorial facing the same issue.
https://github.com/gnuradio/gr-tutorial/issues/10#issuecomment-296791088

Do you still have log4cpp installed?

Yes Macport

[2017-04-25 09:59] Toutoupou opened #1296 "change variable from terminal PYTHON GNURADIO"
Hi, i wouldlike to change variable (like variable slider : frequence, gain etc...) from the command line on GNU RADIO .
For example : i run the GRC file with terminal : `./test.py` and with another command, i change frequence or any variables sliders.

Thanks for any help !

[2017-04-25 12:58] jmcorgan commented on #1296
The issue tracker is for reporting bugs in gnuradio--please take this support issue to the GNU Radio mailing list, the IRC channel, or Slack, thanks.

https://wiki.gnuradio.org/index.php/ReportingErrors

[2017-04-25 12:58] #1296 closed

[2017-04-25 16:40] mhostetter opened #1297 "qtgui: Inconsistent GUI hints"
In my experience the GUI Hints (I'm using QT GUI), seem a bit inconsistent. In particular, the column spans. I found when adding two GUI items and specifying one to have a column span of 1 and the other something different, the GUI arrangement seems to be the reverse of what was expected. An example is included below.

I created a flowgraph to test various GUI hints. I'm using two QT GUI Tab Widge

[2017-04-26 03:25] vamsi765 commented on #1045
I was able to fix this issue [Carles also has similar changes required]:
This commit shows what the changes to be made for a simple OOT block to work
https://github.com/vamsi765/gr-testinggnuradio/commit/c204fc73a1d040539298f776d2fcd345fcce6394

[2017-04-26 20:46] 777arc opened #1302 "Msg input ports not connected to anything are not exposed to Ctrlport"
While debugging why the example flowgraph **simple_copy.grc** (located in gr-blocks/examples/ctrlport/) wouldn't work I discovered that message input ports that aren't connected to any other block do not become exposed and accessible via ControlPort, so commands like postMessage() won't reach them.  So to get **simple_copy.grc** to work I had to connect a block containing a message output port to

[2017-04-26 21:40] mhostetter commented on #1302
I think this is related to what I saw in #1239.

[2017-04-26 21:55] 777arc commented on #1302
I don't quite see how it's related to #1239

[2017-04-27 16:43] bastibl commented on #1045
Great that it fixes your problem, but think it's a workaround rather than a real solution. Without further support from GNU Radio, the OOT would have to test if GNU Radio was build with log4cpp and (in case) search for the library, make sure that it's the same version, and link against it.
That's quite some complexity that would have to be added to all OOT modules. Considering, for example, runtim

[2017-04-27 17:09] mhostetter commented on #1302
What I experienced in #1239 was a source block with an optional message output. When the block was instantiated in GRC but the message output was not connected, the block didn't seem to run properly. I suspected that because the block wasn't connected to the flowgraph via a `msg_connect()` call, that the block wasn't being "included" in the top block somehow, but I wasn't sure.

This seemed simila

[2017-04-27 17:27] 777arc commented on #1302
Oh ok.  Well with my issue, the block was definitely added to top block and functioned like normal, except for the message input port not working.

[2017-04-27 17:31] mhostetter commented on #1302
Yeah, they may not be related at all, but my ears perked up when I read the comment I quoted.

[2017-04-27 17:47] bastibl commented on #1302
I don't think that they are related. I guess since this [commit](https://github.com/gnuradio/gnuradio/commit/080bbf3dfcef968a2141714852bf691ba442bb2f) `setup_rpc` is not called for all blocks. We could try something like [this](https://github.com/bastibl/gnuradio/commit/52eab1718a345fafbe82fa1166c57f8caad0b506), but I didn't fully understand `flatten_aux`. Maybe you could have a look?

[2017-04-27 19:50] jmcorgan commented on #1045
Just as an aside, for GNU Radio 3.8+ and already on the next branch, logging is always turned on and log4cpp is a mandatory requirement, so this seems strictly a 3.7 issue.

[2017-04-27 20:01] bastibl commented on #1045
I would say log4cpp is just one example where most problems occur. The suggestions were meant in general. On macOS, for example, I have the impression that 90% of the problems are because users link against the wrong version of a library (like system python vs. homebrew/ports python).
If find_package(gnuradio) would also return the proper dependencies that might simplify OOTs a lot.

[2017-04-27 20:03] jmcorgan commented on #1045
I agree.  I'm not familiar with the Mac side of things--@michaelld looks after this--my comment was only an aside that the log4cpp complexity has been removed in 3.8.

[2017-04-27 20:06] michaelld commented on #1045
The issue is with log4cpp 1.1.2. I'm still debugging. Revert to 1.1.1 if you can & it'll work nice & clean.

[2017-04-27 20:28] michaelld commented on #1045
Many prior issues on macOS were because of the mixed Python issue as @bastibl points out. We've committed code that addresses that issue. This isn't that issue or even related to it. It's an issue with log4cpp & AppenderMapStorageInitializer. I haven't had time to debug it far enough to have a clue what's going on yet.

[2017-04-27 21:25] michaelld commented on #1045
OK so the problem is the "static" declaration in the Appender class. The variable isn't used for anything anyway, and it's easy to get rid of: `sed -e "/appenderMapStorageInitializer/d"` on the file `include/log4cpp/Appender.hh`. I'm pushing this into MacPorts shortly.

[2017-04-27 21:35] michaelld commented on #1045
OK. Fixed here in MacPorts: https://trac.macports.org/changeset/91dd35333bbcbd39eeaabf17ba037eeed20d9304/macports-ports .

[2017-04-28 01:38] vamsi765 commented on #1045
@michaelld Thanks for the update! That fixed the issue.

[2017-04-28 05:38] bastibl commented on #1045
Great that it works, but a bit unfortunate that it works good enough to ignore the general problem with configuring OOTs.

I wanted to try the patch on homebrew and installed a fixed version of log4cpp somewhere in my home.  While I can point GR to use this version, I don't see how I can point OOTs to that location (if we don't add find(log4cpp) to all OOT modules). Since runtime references log4cp

[2017-04-28 05:40] jmcorgan commented on #1045
@bastibl I agree the more general issue is important to address.  Can you open a new issue so we can more properly address it outside this particular one?

[2017-04-28 05:40] #1045 closed

[2017-04-28 18:19] michaelld commented on #1045
It would be good to add the LOG4CPP_INCLUDE_DIRS as @bastibl did in his commit from his above comment, assuming that LOG4CPP is enabled. Might be enabled by default by now I don't recall.

[2017-05-01 14:48] #1198 closed

[2017-05-02 01:25] michaelld commented on #1045
After some searching I think the issue is with gnuradio-runtime/include/logger.h.in:38-43
{{{
#ifndef ENABLE_GR_LOG
#cmakedefine ENABLE_GR_LOG
#endif
#ifndef HAVE_LOG4CPP
#cmakedefine HAVE_LOG4CPP
#endif
}}}
where the CMake macro "#cmakedefine" replaces the line with either "#define ..." or "/* #undef ... */".

Let's look at the various possible use cases, for GR and an OOT, assuming that both ENA

[2017-05-02 01:59] michaelld commented on #1045
In initial testing, the following works for me, replacing the above code. It's more complicated, but it handles the cases well. YA question is whether we also need to replace to code in the top-level config.in.h for these same macros ...

{{{
// handle current status of GR_LOG
#ifdef ENABLE_GR_LOG
#define EXT_ENABLE_GR_LOG
#undef ENABLE_GR_LOG
#endif

// did GR enable LOG?
#cmakedefine ENABLE_GR_L

[2017-05-02 05:18] jmcorgan commented on #1045
And now you know firsthand why all this was ripped out on next for 3.8, with logging always enabled and log4cpp always required.

[2017-05-02 11:24] michaelld commented on #1045
Yup! Is there a specific branch of next with the log4cpp changes, or is it on master?

[2017-05-02 12:51] jmcorgan commented on #1045
It is set that way on the 'next' branch currently.

[2017-05-02 13:06] michaelld commented on #1045
Yes of course not on master duh. OK, looking at that branch I see what you mean about making log4cpp required.

So, yes, then if not already done so we need to fix the GR OOT CMake scripts to always require log4cpp and include it for headers and library automagically, now that 1.1.2 is released.

This was not required with log4cpp 1.1.0: the header just declared the API such that an OOT that didn'

[2017-05-02 13:10] jmcorgan commented on #1045
Good catch. I don't think the OOT module in gr-utils has been modified.

[2017-05-02 13:13] michaelld commented on #1045
My preference would actually be to patch log4cpp to move the static variable to the .cpp file to make it benign again; push the fix upstream. This change would be because it's difficult to know when a header might indirectly include log4cpp.

The fix I mention would work for GR & should be compatible with most GR OOT modules. But it probably won't work with all of them & certainly not with non-GR

[2017-05-02 14:36] jmcorgan commented on #1045
Of course, it's ideal if upstream will fix things.  And yes, a pox on anyone that puts things in header files that either allocates storage or forces linkage.

[2017-05-04 01:31] michaelld commented on #1045
I think moving the static variable from the header to the .cpp code will do the trick. It does allow GNU Radio to execute again, which is a plus. I'm really not sure the intent of placing that static variable in the header; seems like there need be just 1 of them for the code to work correctly. Whatever. The commit is here: https://github.com/macports/macports-ports/commit/03e977add031301f57ca6972

[2017-05-04 01:40] michaelld commented on #1045
https://sourceforge.net/p/log4cpp/support-requests/42/

[2017-05-08 10:46] vmartyanov opened #1305 "No menus in QT GUI Sink"
Gnuradio companion 3.7.10.2, Gentoo Linux
I used QT GUI Sink, switched to Time Domain Display tab and a middle mouse button wasn't work. If I used QT GUI Time Sink the middle button works as expected. I think it should work in QT GUI Sink too...

[2017-05-08 15:01] centromere commented on #1083
Where may I find this example? @jmcorgan @n-west

[2017-05-08 18:16] marcusmueller commented on #1202
bumping this, as URLs have changed anyway due to wiki migration.
@nwest

[2017-05-09 01:05] kangqf opened #1306 "SWIG version check failed"
I use ubuntu 14.04  with swig 3.0.2, But when I build the latest source code, It can't check pass the swig version.I check the cmake file, I find that the version 3.0.2 can't grater than 2.0.4. And I use the 3.7.10 version to build , It's doesn't show any error.

[2017-05-09 15:55] jmcorgan commented on #1306
Can you post the output of your cmake execution for both cases?

[2017-05-10 14:58] kpreid opened #1309 "gnuradio.analog.am_demod assumes input is normalized"
`gnuradio.analog.am_demod` says that

However, if the input AM signal's carrier is not of magnitude 1.0, then:

* the output will have a DC offset (because the block assumes that subtracting 1 will remove the carrier), and
* the output will not in fact be in the range [-1.0, +1.0], but a larger or smaller range.

Either the `am_demod` block should be changed to contain an AGC block, or the require

[2017-05-10 16:19] jmcorgan commented on #1309
Given there is now gr::filter::dc_blocker_ff (which didn't exist at the time that AM demod hier block was written), it would be straightforward to replace the DC-reject subtractor. This would make the block suitable for non-normalized input, while not changing its behavior for normalized signals.

Would you be interested in doing this and submitting a pull request?

[2017-05-11 00:32] kpreid commented on #1309
DC blocking is only a partial solution, because the output audio signal's magnitude will still vary depending on the RF signal strength, which it should not (at least, that is my understanding of how an audio demodulator should operate). An AGC (which is just another control loop for a different parameter, anyway) will address both issues.

I've already not gotten to something that I care about a

[2017-05-11 01:46] #1309 closed

[2017-05-17 22:56] fperal opened #1314 "Throtle needed in a system with a audio sink"
![gfsk grc](https://cloud.githubusercontent.com/assets/28349254/26179509/7c3523e8-3b64-11e7-94c9-bf37159cb4bc.png)

It works (sound is played ok) with samples/symbol=8 or samples/symbols=2, but ONLY if the throthle is enabled. If the throthle is bypassed or removed the sound is intermittent.

[2017-05-18 12:03] marcusmueller commented on #1314
admins: assign this to me, please.

my current guess is that I need to take a close look at what message queuing happens inside the Packet Encoder and the Demod block. There's something :fish:y happening here.

[2017-05-18 12:09] marcusmueller commented on #1314
Adding the .grc from the [email thread](http://lists.gnu.org/archive/html/discuss-gnuradio/2017-05/msg00105.html)
![gfsk grc](https://cloud.githubusercontent.com/assets/958972/26201488/8923d79c-3bd3-11e7-85b4-439056893997.png)

https://gist.github.com/marcusmueller/1ff825bea30888efab07283a1deea0f1

[2017-05-18 17:49] jmcorgan commented on #1314
The packet encoder hierarchical block has been deprecated in the 3.7 series, and it's on the list of things to reimplement for the gr-digital cleanup in 3.8.  So, if the issue is in the underlying GNU Radio stuff, or something simple in the hierarchical block, we should fix right away. If it is complicated fix or reimplementation, it probably isn't worth writing code that will get removed later.

[2017-05-20 10:58] rubund commented on #1207
I think users have mostly dealt with the pain by changing to using an OOT version of corr_est_cc which has the old behaviour. This is what I did some time ago, since the corr_est_cc felt broken - somewhat of a nightmare :). I have been using corr_est_cc from gr-ais since.

I therefore think it should be unproblematic to roll back these few lines so that old flow graphs will start working again..

[2017-05-22 16:51] jmcorgan commented on #1207
Code up a test branch and submit a PR for review and testing, please.

[2017-05-24 02:10] kangqf commented on #1306
I change the cmake modules then I pass the error! :)

[2017-05-24 02:10] #1306 closed

[2017-05-24 15:57] yarda opened #1316 "gnuradio-3.7.11 compilation fails with gcc-7"
I was upgrading gnuradio in fedora rawhide. With the gnuradio default -std=c++98 it failed:
[code]

And:
[code]

So I switched to gcc default -std=c++14, but it failed:
[code]

I finally compiled it with -std=c++14 by using the following patch:
https://src.fedoraproject.org/cgit/rpms/gnuradio.git/tree/gnuradio-3.7.11-gcc-7-compile-fix.patch

[2017-05-25 18:03] michaelld commented on #1316
CppUnit 1.14.0 requires C++11 for its API. That's the first 2 issues. The latter has been fixed in master and next already. I'll push the CppUnit fixes into a PR shortly. They are already in MacPorts for Mac OS X users.

[2017-05-26 19:07] 777arc opened #1317 "qtgui_time_sink can't display more than 12 inputs"
I noticed that qtgui_time_sink segfaults when I provide more than 12 inputs.  I was able to fix the issue and allow more inputs by going into TimeDomainDisplayPlot.cc and adding more QColors to the "colors" list (I added the last line to allow 3 more inputs, pushing it to 15 total):

QList<QColor> colors;
colors << QColor(Qt::blue) << QColor(Qt::red) << QColor(Qt::green)
	 << QColor(Qt::black) <<

[2017-05-26 19:54] 777arc commented on #1317
Also, if anyone knows how I can create my own version of this block in my OOT with the change, that would be awesome.  That way I wont need to make the change and recompile gnuradio every time I want to use my app.  I tried to just make my own time_sink_f block, but it depends on too much qtgui stuff so I feel like I would have to copy the entire gr-qtgui into my OOT to get it to work.

[2017-05-31 21:51] pwicks86 opened #1318 "gr_modtool created OOT modules don't track dependencies correctly for swig"
To reproduce:

1. Create an oot module (gr_foo say)
1. Create a new C++ block via gr_modtool (bar for example)
2. Build
3. Change the C++ definition (in lib/bar_impl.* and include/foo/bar.h``) to add a new function to the block
4. Build
5. Observe that the foomod_swigPYTHON_wrap.cxx hasn't been updated to reflect the new function (alternately, if you remove a function from the block, you'll get a

[2017-05-31 21:57] jmcorgan commented on #1318
This is a long standing bug. I've only seen it happen when changing the include/foo/bar.h public API header; it fails to trigger a SWIG regeneration.

There should be no need to trigger a SWIG rebuild if only the impl header changes, as those aren't exposed publicly and SWIG never sees them.

Please submit a PR for review, for the gr-utils template for this.  There may be a better way to do it, bu

[2017-05-31 22:31] jamieduk opened #1319 "Total Fail..."
i just installed volk from git hub source because gnuradio wont install and still get this message CMake Error at CMakeLists.txt:428 (message):
  VOLK required but not found.

sort it out ffs linux winds me right up incompetent devs need to make prerequisites install automatically i have not got time to waste like this ffs!

[2017-05-31 22:45] pwicks86 commented on #1319
You need to check out the volk submodule. The easiest way to do this is

[code]

[2017-05-31 23:38] pwicks86 commented on #1318
Created #1320 for this.

[2017-06-01 00:32] mbr0wn commented on #1319
@jamieduk Please keep the tone civilized here. I'll be closing this issue because it's not actually a bug.

[2017-06-01 00:32] #1319 closed

[2017-06-01 00:33] mbr0wn commented on #1319
Also, see @pwicks86 helpful response which should resolve your issues.

[2017-06-07 18:51] jmcorgan commented on #1317
I'm not averse to merging this per se, but I'd rather see the limits documented and enforced, then we can consider what the limit should be.

[2017-06-07 18:56] #1091 closed

[2017-06-07 22:08] pwicks86 commented on #1318
#1320 has been merged, closing this issue.

[2017-06-07 22:08] #1318 closed

[2017-06-08 12:17] stackprogramer opened #1326 "Two HackRF One Doesn't work in Gnuradio Simultaneously"
In gnuradio 3.7.12 we have two hackrf one, we want to see spectrum we test in Debain jessie and Ubuntu linux all of them can not play two HackRFOne Simultaneously.
you can see video on youtube for more info....
we even set index to 0 and 1, but with index we can not running two HackRFOne   Simultaneously...
https://www.youtube.com/watch?v=xu9qPR_QH0E
can we receive data from two hackrfone with osm

[2017-06-08 14:02] ghostop14 commented on #1326
I don't know if this will help or not, but I did notice in your flowgraph that the sample rate is 32k.  I've personally had issues with the HackRF at low sample rates until I saw the ADC lower limit.  Michael Ossmann has a post on the HackRF site for "Tips and Tricks" (https://github.com/mossmann/hackrf/wiki/Tips-and-Tricks) that talks about the MAX5864 ADC not being specified to operate below 8 M

[2017-06-09 05:13] stackprogramer commented on #1326
@ghostop14  i before update firmware...
but for low sample rate i before transmited and received FM in gnuradio with sample rate 50k,
we have not any problem....
i will examine more and share result..
thank you

[2017-06-09 16:57] n-west commented on #1326
This doesn't seem like a gnuradio issue or bug. It's likely either a bug with gr-osmosdr or with hackrf. Additionally, if you just need tech support the mailing lists are the better and preferred place to go.

[2017-06-09 17:48] jmcorgan commented on #1326
Agree.

[2017-06-09 17:48] #1326 closed

[2017-06-11 18:55] mehdideveloper opened #1329 "Illegal Instruction on OS X"
Hi
I compiled 3.7.11 on OS X 10.12.5 and when I try to run grc, I get this error:

And it stops.
Any ideas?
I haven't been able to run GNURadio on OS X after updating to 10.12 (I've tested brew, but it does not support grc because of Qt4 deprecation; I don't have port)

[2017-06-15 05:08] stackprogramer commented on #1326
@ghostop14 Hi,today i test hackrf one sample set to 1M,now it works thanks for attention
best regards stackprogramer

[2017-06-20 11:03] marcusmueller opened #1337 "multiply_matrix_XX: can't simply use magic value in place of `enum`, C++ doesn't allow that"
https://github.com/gnuradio/gnuradio/blob/master/gr-blocks/lib/multiply_matrix_cc_impl.cc#L182 👍
[code]

Simply because you might in practice be able to cast the `tag_propagation_policy_t` argument to `set_tag_propagation_policy` to an `int` doesn't mean you can just set it to `999`. That's not how `enum`s work (C++ standard, highlight mine):

So, yay, undefined behaviour occurs whenever one tries

[2017-06-21 16:26] estradjm opened #1338 "GMSK Modulation Block Bugs"
There are two GMSK modulation blocks, GMSK Mod and GMSK Modulation, of which both do not work correctly. GMSK Mod block is definitely not working correctly.

Flow graphs and screen shots available here:
https://lists.gnu.org/archive/html/discuss-gnuradio/2017-06/msg00209.html

[2017-06-21 17:33] gigabyte1023 commented on #1337
i need help

[2017-06-21 17:35] gigabyte1023 commented on #1338
i need help

[2017-06-22 19:54] mbr0wn commented on #1337
We actually had a discussion about this when this block was first merged. The `TPP_CUSTOM` solution was the one that I preferred at the time.

[2017-06-22 19:58] marcusmueller commented on #1337
Ok, then I'll just go ahead and implement that – Thanks for the feedback!

On Thu, Jun 22, 2017 at 9:54 PM, Martin Braun <notifications@github.com>
wrote:

[2017-06-22 20:29] mbr0wn commented on #1337
I think @jmcorgan should weigh in here before you go on a coding spree.

[2017-06-23 01:52] jmcorgan commented on #1337
I think I agree with the TPP_CUSTOM solution myself.

[2017-06-25 03:22] braselectron opened #1345 "Ubuntu 14.04.5 i686 (32bits) does not show right block list on gnuradio-companion"
After a reinstall gqrx and grc using ppa repository the left list of blocks on grc window just does not show, so there is no way to make/edit my projects.

I can open a project that I know that works and it work fine, but can't add blocks (but I can remove).

![grc_scrn](https://user-images.githubusercontent.com/12898819/27513426-bd29c238-593b-11e7-9399-278943bc10bf.jpg)
uname -a:
`3.13.0-121-gene

[2017-06-25 03:28] kartikp1995 commented on #1345
Can you find the XML files of the blocks in the block paths mentioned at the bottom of GRC window?

[2017-06-25 03:29] braselectron commented on #1345
Yes

[2017-06-25 07:31] skoslowski commented on #1345
Might be, the panel is just hidden. Check the application menu.

On Sun, Jun 25, 2017, 05:29 John Bras <notifications@github.com> wrote:

[2017-06-25 09:34] marcusmueller opened #1346 "gr-vocoder/codec2 code hygiene: writes .c file containing struct with float member, but struct type has int"
My compilers have a bit of a complaint, because this
[code]
initializes the second field of an `lsp_codebook` struct with the floating point literal 11.7181, but in fact, that gets downcasted (and truncated) to an int (in codec2/defines.h):

[code]

Now, I'm not sure we should be letting the compiler convert 11.7 to 11 bits per `m`…

I looked into updating Codec2 from rowetel, but the codebook gen

[2017-06-25 09:43] marcusmueller commented on #1337
@jmcorgan (hopefully) ready for maint-merge (#1341)

[2017-06-25 12:07] braselectron commented on #1345
@skoslowski unfortunately it is not a hidden panel, I did check for that first.  Or could you explain where?

[2017-06-25 12:13] braselectron commented on #1345
I did this, to check if it is a commit (update) problem:

I removed (purge) gqrx, gnuradio*, touble checked builds make (make uninstall), removed the repository ppa's installed and returned ubuntu main/standard repository and used software center to install gnuradio GNU Radio Companion 3.7.2.1 (which is the one officially available).

Then I installed the gqrx-sdr from standard repository too.

no

[2017-06-26 02:54] braselectron commented on #1345
OK  So after sending my Sunday on this, I found a workaround.

First check where are the grc.conf files on your system
rename all that are not in the predictable locations, which are:
[code]

Then go to

[code]

copy the lines (or the paths in your system):

[code]

close file

[code]

paste lines after [main] (mush have one space after last group of lines separating groups)

save ~/.gnuradio/grc.

[2017-06-27 04:28] cn0xroot opened #1347 "Python crash on Mac OS X 10.12.5"
[code]

[2017-06-27 05:08] cor-mt opened #1348 "Filter window calculation illegal calculation."
This bug get triggered on an "AMD FX(tm)-8150 Eight-Core Processor" when gnuradio is compiled with `CFLAGS="-march=native -O2"`.

In window.cc line 265, with `i == ntaps - 1` gives `temp = 1.0000000000000000002` that cause `sqrt (0)` witch return "-nan" on the next line for the last value of the vector. This value get used for the gain calculation in the low_pass filter and thus screwing all the r

[2017-06-27 08:50] marcusmueller commented on #1348
Thanks for documenting/reporting this here 👍

For future readers: http://lists.gnu.org/archive/html/discuss-gnuradio/2017-06/msg00277.html

[2017-06-27 09:17] marcusmueller commented on #1348
Just to be clear: this is a serious bug in the way we do floating point math, and I (hopefully) have a patch coming up. We need to be vigilant, though – this is most likely not the only mistake of this type.

[2017-06-27 09:52] marcusmueller commented on #1348
[code]

[2017-06-27 18:42] jmcorgan commented on #1346
Codec2 is finally getting packaged in various places; for 3.8 we've already removed this code and link to a system installed version. I wouldn't waste your time on this.

[2017-06-27 18:43] marcusmueller commented on #1346
In that case: Closing this.

[2017-06-27 18:43] #1346 closed

[2017-06-27 18:51] #1345 closed

[2017-06-27 19:15] michaelld commented on #1347
Lucky me!

[2017-06-27 19:15] michaelld commented on #1347
@cn0xroot : What command line are you using that generated this error?

[2017-06-27 19:22] michaelld commented on #1347
FYI that I find the following in the list of included libraries: `/usr/local/lib/python2.7/site-packages/numpy/...`. All of the other Python modules (and Python) are clearly using MacPorts (`/opt/local/Library/Frameworks/Python.framework/Versions/2.7/...`). You might want to remove this cruft just in case it's making a difference. I don't know if it would make a difference or not.

[2017-06-28 02:01] cn0xroot commented on #1347
@michaelld thanks for the quick reply.

when i run everyone grc flow graph,python crash.i'll try to do what you said.

[2017-06-28 02:56] cn0xroot commented on #1347
i try to do it again,gnuradio use `/opt/local/Library/Frameworks/Python.framework/Versions/2.7` to Execut python file

[code]

and the result will be the same:python crash.

[2017-06-28 11:30] michaelld commented on #1347
Can you post here or email me ( to: michael.dickens@ettus.com ) the GRC file, or point me to it if it's available online somewhere? That way I can verify myself directly, to determine whether it's a bug in GNU Radio or something local to your setup.

[2017-06-28 12:03] cn0xroot commented on #1347
of course，i send email to you,and you can get it from https://github.com/cn0xroot/cn0xroot.github.io/tree/master/SDR/fm-radio

[2017-06-28 12:07] braselectron commented on #1345
@jmcorgan please note, that I did not close the topic for the following reasons:

1. because the "workaround" solved the PPA repository re-installation update "bug" but,
1.1. not sure if this is a "bug" or back-port issue to Trusty Tahr or 32bits
2. and also the fact that I tried to build this project and for my surprise, it "abended" (I was not able to build it for ubuntu 14.04.5 i686 any more -

[2017-06-28 19:27] michaelld commented on #1347
OK. Thx. This script works for me on my macOS 10.12 (latest everything) box using a B210 and B200mini.

Reviewing the traceback, it looks like UHD is failing during its startup search for devices.

Are you using an Ettus SDR device? If not, which SDR device are you using?

If you're using an ER SDR device, what happens when you unplug it / power it down; then plug it back in / power it up, and the

[2017-06-28 19:29] michaelld commented on #1347
Also: are you using the ports `gnuradio` / `uhd`, or `gnuradio-devel` / `uhd-devel`?

[2017-06-29 02:04] cn0xroot commented on #1347
i use usrp b200 and hackrf.also using the ports gnuradio / uhd.

and i find some issues on github like this:
https://github.com/cfriedt/gnuradio-for-mac-without-macports/issues/22
https://github.com/cfriedt/gnuradio-for-mac-without-macports/issues/26

[2017-06-29 13:48] michaelld commented on #1347
Can you try moving to `uhd-devel` and then `gnuradio-devel` and seeing if those fix the issue? You'll have to deactivate `uhd` and `gnuradio` first (e.g., `sudo port -f deac uhd gnuradio`).

[2017-06-29 13:54] michaelld commented on #1347
Also: what does `port installed boost and active` return?

[2017-06-29 17:55] sugandhagupta opened #1353 "uhd: unlocking flowgraph in gnuradio disconnects USRP-Sink"
@noc0lour reported:

Running a simple flowgraph with a USRP-sink connected and performing a lock() and unlock() of the flowgraph triggers an error in the transmitter and it stop transmitting.
This error is encountered with latest uhddev/master 1b70b3e and gnuradio/master but not with uhddev/3.9-LTS fdec013 and gnuradio/master.

stdout:
[code]

flowgraph:
[code]
@michael-west and I were able to rep

[2017-06-30 01:39] cn0xroot commented on #1347
boost is active:

[code]

[2017-06-30 04:12] cn0xroot commented on #1347
[code]

it work fine now. thank you so much!

[2017-06-30 13:40] michaelld commented on #1347
OK. Great & I'm glad moving to the devel versions did the trick. Seems like there's an issue with the release. I'll see if I can replicate on my local setup using the releases. Thanks for being so active in helping debug this issue!

[2017-06-30 14:01] michaelld commented on #1347
@mbr0wn : I can't close this issue for some reason. Could you please do so (and, maybe, tell me how to do so / what I'm missing?)? Thx!

[2017-06-30 18:32] noc0lour commented on #1353
Are you working on the fix/have a fix already?

[2017-06-30 18:33] noc0lour commented on #1348
Is this fixed now (: ?

[2017-06-30 18:33] sugandhagupta commented on #1353
I do. Will have a pull request soon.

[2017-07-01 04:28] vermillionsands opened #1357 "UHD: USRP source block does not generate stream tags when RX frequency changed via its message port."
Generally, if the USRP source block's centre frequency is altered then the output stream is tagged with the current time, frequency, and rate. However, if the centre frequency is altered via messages received on its command port then these  tags are not generated. This seems like a bug.

The root cause is that command messages use the SET_CENTER_FREQ_FROM_INTERNALS macro to set the RX frequency in

[2017-07-03 21:15] dkozel commented on #1357
@vermillionsands Thanks for opening this issue and for having taken a look into the root issue. The creation of a tag with the center frequency does seem like a behavior which should be consistent no matter which API is used to set the frequency.

[2017-07-06 07:00] stackprogramer opened #1361 "i installed gnuradio 3.7.12 which version gr-osmocomsdr i should installed"
i installed gnuradio3.7.12, i installed this version osmocomsdr
https://github.com/osmocom/gr-osmosdr/tree/2a2236cc9e97581e59cfc8018bd03d90659e6acc
but osmocom in receive it has error

    return _runtime_swig.top_block_start_unlocked(*args, **kwargs)
RuntimeError: list contains invalid format!
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO

[2017-07-06 07:07] stackprogramer commented on #1361
in installed in newest version https://github.com/osmocom/gr-osmosdr
gr-osmosdr  we have this error
https://github.com/osmocom/gr-osmosdr/commit/c653754dde5e2cf682965e939cc016fbddbd45e4
root@SP:/home/sp/Downloads/gr-osmosdr-master/build# make
[  2%] Building CXX object lib/CMakeFiles/gnuradio-osmosdr.dir/rtl/rtl_source_c.cc.o
/home/sp/Downloads/gr-osmosdr-master/lib/rtl/rtl_source_c.cc: In constru

[2017-07-07 16:32] jmcorgan commented on #1361
This is a forum for reporting bugs in GNU Radio. For general support please use the discuss-gnuradio mailing list or #gnuradio on IRC/Slack.

[2017-07-07 16:32] #1361 closed

[2017-07-07 17:01] LaughingCabbage opened #1362 "File Sink/Source clipping data"
Data is clipped during a file source / file sink flow. Clipping is varies according to file sink "Unbuffered" setting. With unbuffered OFF: Input file is 37,075 bytes and output file is 36,864 bytes leaving a 211 byte loss from input to output. With unbuffered ON: Input file is 37,075 bytes and output file is 37,072 bytes leaving a 3 byte loss. Bug discovered in testing of pull [#1360](https://git

[2017-07-07 20:51] mbr0wn commented on #1353
Closing issue, deferring discussion to PR #1355.

[2017-07-07 20:51] #1353 closed

[2017-07-07 20:52] mbr0wn commented on #1348
This was fixed in #1349. Closing.

[2017-07-07 20:52] #1348 closed

[2017-07-12 03:44] vamsi765 opened #1367 "Tun/Tap block for MacOS"
@michaelld
I get the following error when I have tun tap_pdu block in grc. The error persists even after installing tuntap related files from MacPort.

`
Traceback (most recent call last):
  File "gen_sink.py", line 58, in <module>
    main()
  File "gen_sink.py", line 47, in main
    tb = top_block_cls()
  File "gen_sink.py", line 30, in __init__
    self.blocks_tuntap_pdu_0 = blocks.tuntap_pdu('

[2017-07-12 03:53] vamsi765 opened #1368 "Tag Gate error"
I get the following error when running the flow graph with "Tag Gate" block:
``
Traceback (most recent call last):
  File "packet_uhd_usrp.py", line 19, in <module>
    from packet_uhd_tx_rx import packet_uhd_tx_rx  # grc-generated hier_block
  File "packet_uhd_tx_rx.py", line 18, in <module>
    from packet_tx import packet_tx  # grc-generated hier_block
  File "/Users/vamsi/.grc_gnuradio/iris_pa

[2017-07-12 16:45] michaelld commented on #1367
@mbr0wn : There is no "tuntap" directly on OSX like there is on Linux. There is a "tuntaposx" project that adds this capability, somehow. I've never used it, but it might be worth investigating to see if it can be used to expand the functionality of the tuntap block. Do you want me to give it a try & see what I can do for an hour or 2?

[2017-07-13 19:02] marcusmueller opened #1378 "types.h: get rid of anachronisms now that we can"
Considering we can now rely on halfway recent MSVC:

we really shouldn't be doing things like

[code]

these days. There's `cstdint` for a reason, and that is portability. Also, we<sup>TM</sup> should probably check all these types for actual usage – we can afford to break that one OOT that is strange enough to use `gr_int64` instead of `int64_t` in the 3.8 changeover, if we can avoid lunging arou

[2017-07-13 20:47] LaughingCabbage opened #1379 "gr-digital: persistent logging in correlate_access_code_bb_impl.cc"
Created to track pull request #1354 . Critical performance issue. Persistent logging to console on each packet in packet decode as a result of new_flag calls in correlate_access_code_bb_impl.cc. Test flow: File source -> packet encoder -> dpsk mod -> dpsk demod -> packet decoder -> time sink.

[2017-07-13 21:04] jmcorgan commented on #1378
I'm all for cstdint cleanliness, even in 3.7 if possible.

[2017-07-13 21:10] jmcorgan commented on #1379
Normally we track pull requests within the PR itself; if there was an issue opened prior to that we can reference it, but there's no need to open a new one here.

[2017-07-13 21:10] #1379 closed

[2017-07-13 21:27] LaughingCabbage commented on #1368
I remember this same issue from a gr-digital packet example. What flow are you using here?

[2017-07-13 22:02] LaughingCabbage commented on #1314
My theory here is that by removing the throttle you are allowing GRC to consume the .wav file at an arbitrary rate that likely exceeds the desired sample rate. Thus, the samples arriving at the audio sink are not truly at 44.1kHz. Thoughts?

[2017-07-14 00:38] mbr0wn commented on #1378
`cstdint` requires C++11, but `int32_t` and friends do not. We can include `stdint.h`, which is compatible.

[2017-07-14 00:42] jmcorgan commented on #1378
@marcusmueller Will you take this on?

[2017-07-14 00:44] mbr0wn commented on #1367
@michaelld Go for it!

[2017-07-14 00:45] mbr0wn commented on #1362
I took the liberty of renaming the issue; clipping usually indicates that the samples go through but get modified.

[2017-07-14 00:51] mbr0wn commented on #1314
That shouldn't matter though. Samples will never arrive an audio source at the correct sampling rate, but it should then properly backpressure. The rate at which the .wav file is consumed won't make a difference.

Still, any of the blocks in this flow graph could be the culprit. Or it's some scheduler randomness bug, which is bypassed with a throttle because all the buffers will always empty.

[2017-07-14 00:52] mbr0wn commented on #1305
The QT GUI Sink is older than the rest, and won't be getting updates. I think we can close this.

[2017-07-14 00:54] mbr0wn commented on #1230
Because so many people use them, this'll break a lot of people's applications. I agree with the sentiment, but is it worth it?

[2017-07-14 00:55] mbr0wn commented on #1204
Looks like @michaelld fixed, and we can close?

[2017-07-14 02:30] vamsi765 commented on #1368
Any simple flow graph with the block fails.

![screen shot 2017-07-13 at 7 30 23 pm](https://user-images.githubusercontent.com/3446478/28195862-c4190b2e-6801-11e7-80f9-cf1b47963205.png)

[2017-07-14 02:31] vamsi765 commented on #1368
I have noticed that this fails even in Linux on my friends system, when he updated to use the latest version using PyBombs.

[2017-07-14 03:28] jmcorgan commented on #1368
The fix for this was merged today.

[2017-07-14 05:37] marcusmueller commented on #1378
@jmcorgan yes. Please assign.

[2017-07-14 05:41] marcusmueller commented on #1314
Agreeing with @mbr0wn, GNU Radio is a DSP system, where it's irrelevant how fast samples are produced or processed - the end result should be the same.

Haven't found out reason for strangeness yet.

[2017-07-14 05:53] marcusmueller commented on #1230
Well, if not now, then when? Personally, I consider 3.8 a chance to break API where we can in order to make things better. Plus, if breakage sounds scary, at least for Pythonland, we can easily alias (and warn), so that only C++ hier blocks actually break

[2017-07-14 06:20] jmcorgan commented on #1230
@marcusmueller Can write short but concrete description of the change you're proposing? I agree now (3.8) is the time to break things, but let's see what you actually have in mind.

[2017-07-14 06:22] jmcorgan commented on #1314
Also, please ensure 'ok to block' is true in the audio sink config.

[2017-07-14 06:23] jmcorgan commented on #1378
Great, thanks.

[2017-07-14 06:25] jmcorgan commented on #1378
@mbr0wn For some reason I continue to have a problem with assigning from the menu drop down; I get a list of 10 people but @marcusmueller is not on it.

[2017-07-14 06:26] marcusmueller commented on #1230
@jmcorgan I can, but I'm literally on a hot train without a table. A phone is not the perfect tool for conciseness, but I'll put that on my agenda for the weekend.

[2017-07-14 06:27] jmcorgan commented on #1367
@mbr0wn Same issue here; @michaelld does not show up in the list of people I can assign this to.

[2017-07-14 06:31] jmcorgan commented on #1362
There's a recurring, difficult to reproduce bug introduced several years ago with finite flowgraph shutdown where some parts of the graph are shutdown prematurely. Not sure if this is related but but worth considering.

[2017-07-14 06:33] jmcorgan commented on #1230
No worries.

[2017-07-14 06:46] michaelld commented on #1204
Yes! Someone please do close this issue. I'm not given this option.

[2017-07-14 06:47] michaelld commented on #1367
@mbr0wn OK thx I'll take a look-see.

[2017-07-14 07:04] marcusmueller commented on #1378
This change leaves gnuradio/types.h a hollow shell, its pale shadow of utility being #include <stdint.h> ; should I clean up inclusion of types.h in the tree and replace with stdint.h where actually used for that? It's included without reason in several places so I'm going to remove these #includes, anyway.

[2017-07-14 07:15] marcusmueller commented on #1378
Files that `#include <gnuradio/types.h>`, but don't actually mention any `[u]int{width}_t`:

[code]

[2017-07-14 07:19] marcusmueller commented on #1378
https://github.com/gnuradio/gnuradio/pull/1380

[2017-07-14 08:53] #1204 closed

[2017-07-14 16:33] LaughingCabbage commented on #1314
The current main branch's packet decoder has an open bug that I found ( #1370  ) which discards the final packet from a transmitted message if it does not satisfy the hard-coded DEFAULT_PAYLOAD_LENGTH. Thus, if a message is consumed by the packet decoder and the message size % payload length is not 0 then the packet will be discarded and the decoder will move on to consume the next available messa

[2017-07-14 17:04] mbr0wn commented on #1378
@jmcorgan Not sure why you can't assign to Marcus. We both have the same level of privilege. :confused:

[2017-07-14 17:05] mbr0wn commented on #1378
@marcusmueller We still use `gr_vector_void_star` and friends though.

[2017-07-14 17:09] mbr0wn commented on #1378
Maybe we should run https://include-what-you-use.org/ over our codebase....

[2017-07-14 17:13] jmcorgan commented on #1378
Oh now that's interesting, it could be something we run alongside coverity, etc. in the CI system.

[2017-07-14 19:47] LaughingCabbage commented on #1362
So I face-palmed pretty hard here. The flow graph I used was set to pass float values where as my file should have been read in as a byte format. In doing so I told the file source to consume 4 bytes at a time. However, my test file's size did not divide evenly by 4 and a 3 byte remainder was never read. I've added a warning in #1381 to hopefully make this a bit more clear for users.

[2017-07-14 22:28] gnieboer opened #1383 "logger.h change causes heap corruption in certain instances"
Commit 08ab03d781135481f15afc1ef0754c60d4ccad42 introduced a heap corruption issue for OOT modules in certain build configurations and certain compilers.

logger.h lines 59-61 cause heap corruption on systems where sizeof(std::string) != sizeof(void *) and logging is not requested by a module.

Compilers affected appear to include GCC 5.0 and MSVC, or in general any compiler that uses short string

[2017-07-14 22:37] jmcorgan commented on #1383
Without thinking deeply about it I'd prefer #1. Also, all this conditional code has been removed already and is always "on", with log4cpp now a dependency, on the next branch.

[2017-07-15 00:35] michaelld commented on #1347
@jmcorgan Please close this issue.

[2017-07-15 00:36] michaelld commented on #1329
Could be many possible issues. How did you install GNU Radio in the first place, if not via port or brew? How did you install the dependencies?

[2017-07-15 00:46] michaelld commented on #1383
Great sleuthing work! Isn't the actual issue the use of std::string, since the other 2 variants use a pointer -- which will be of the same size no matter which is used? Seems like replacing the std::string version with std::string* or something like that would be the natural way to go to guarantee sizes are the same. This would, of course, be for just maint and master, not next -- since, as JC wri

[2017-07-15 00:49] michaelld commented on #1316
"shortly" has been way too long. I'll get there soon. Sorry!

[2017-07-15 01:45] #1347 closed

[2017-07-15 07:20] mehdideveloper commented on #1329
Well, I finally managed to resolve this, and in the process, I tried endless things to fix it (which I don't even remember to list)
I've tried both brew and compiling from source (I don't use port)
At last, I removed every dependency that I suspected were related to the problem (like swig) and manually deleted remaining header and lib files, and compiled the latest gnuradio from source (and I had

[2017-07-15 07:20] #1329 closed

[2017-07-15 13:24] michaelld commented on #1329
Yes: Probably library version mismatches, given the way you installed GR and its dependencies. I'm glad you got it all working, well enough. Great work!

[2017-07-15 13:24] michaelld commented on #1329
@jmcorgan Please close this issue.

[2017-07-15 16:20] vamsi765 commented on #1368
@michaelld could you update the gnuradio-devel macport?

[2017-07-15 19:48] gnieboer commented on #1383
I agree with #1 as well for 3.7.x, and leave fix #2 for 3.8.

[2017-07-15 20:51] jmcorgan commented on #1383
In 3.8 there is no conditional code--logging is always enabled and log4cpp is a required dependency. Doesn't the issue go away then?

[2017-07-15 21:37] gnieboer commented on #1383
Yes, it sounds like what's already planned implements fix #2 in 3.8.

[2017-07-16 12:12] michaelld commented on #1368
Yes ... been on my queue for a bit now & I'll find time early next week; sorry for the delay!

I have to deal with some patches because the GR API was changed & the #include directories aren't ordered correctly right now in CMake -- so, the old API is picked up if it is already installed & that breaks the build. Always a good time fixing these things!

[2017-07-16 12:16] michaelld commented on #1383
I'd say to do #2 right now for 3.7, since it should be almost trivial. I'll test this out when I do updates Monday / Tuesday ... I don't think the logger_ptr is even used when logging is enabled but not using log4cpp. But I haven't looked through -all- of the code to verify. Simple test. More when I know it.

[2017-07-16 17:40] vamsi765 commented on #1368
Thank you @jmcorgan and @michaelld !

[2017-07-16 17:40] #1368 closed

[2017-07-17 08:12] Flamewires commented on #1383
For what its worth I've gotten this using gcc 6.3 as well. Thanks for digging into debugging it Geof.

[2017-07-17 09:03] jdemel opened #1385 "Cannot use POLAR Code Configurator in GRC anymore"
In current GR3.7 versions, if you add 'POLAR Code Configurator' to a flowgraph in GRC, it freezes. GRC is unresponsive and one thread is running at 100%. The block calls a python function '`gnuradio.fec.polar.load_frozen_bits_info`', which handles initialization parameters.

This construction used to work in older GR versions, when polar codes were added. Also, if you import gnuradio.fec.polar in

[2017-07-18 14:28] Sandeep-Sarma opened #1388 "Make failing for new gnuRadio install on ubuntu for interpolating_resampler.cc"
On checking out the latest version (commit: bd611224ba4c2356c1ad4c3359781682c5c121da), I get the following errors on make:

make[2]: *** [gr-digital/lib/CMakeFiles/gnuradio-digital.dir/interpolating_resampler.cc.o] Error 1
make[1]: *** [gr-digital/lib/CMakeFiles/gnuradio-digital.dir/all] Error 2

Error:
--------
gnuradio/gr-digital/lib/interpolating_resampler.cc:392:70:   instantiated from here
/u

[2017-07-18 14:35] jmcorgan commented on #1388
@awalls-cx18

[2017-07-18 14:38] jmcorgan commented on #1388
What is your OS version?

[2017-07-18 15:02] awalls-cx18 commented on #1388
On July 18, 2017 10:35:45 AM EDT, Johnathan Corgan <notifications@github.com> wrote:

This compiles on Fedora 26 and for the git  PR buildbot without error.

The problem appears to be the version of C++ in use is being very particular about wanting a real pointer value and not NULL, which is just an integer.

The simple solution is to remove the 2nd argument (NULL) in the 8 vector initializer call

[2017-07-18 16:49] Sandeep-Sarma commented on #1388
Thanks. Let me try that. My OS version is Ubuntu 12.04.

[2017-07-18 16:52] jmcorgan commented on #1388
I'm going to be pushing a PR for fixing this that should work for you, but please remember that Ubuntu 12.04 is no longer supported by us or Canonical.

[2017-07-18 18:07] Sandeep-Sarma commented on #1388
Thanks Sir. Point noted.

[2017-07-18 18:19] jmcorgan commented on #1388
@Sandeep-Sarma PR #1389 has the recommended changes; please confirm this solves your problem as we do not test gcc 4.6 or Ubuntu 12.04.

[2017-07-19 09:18] hkopp64 opened #1390 "gnuradio-3.7.10.2 & gnuradio-3.7.11 doesn't support compiling gqrx-2.6.1 by cause of log4cpp"
Hello,

After succesfull compile en install of versions gnuradio-3.7.10.2 and gnuradio-3.7.11, I get underlaying compile error in gqrx-2.6.1.

Does someone earlier dealing with this issue and know about to solve it, because in gnuradio-3.7.10.1 and gnuradio-3.7.10 I had no compile errors in gqrx-2.6.1 and had no error with log4cpp before.

[ 89%] Building CXX object src/CMakeFiles/gqrx.dir/receive

[2017-07-19 18:59] jmcorgan commented on #1390
We're hoping to get this fixed for a 3.7.11.1 maintenance release.

[2017-07-20 16:24] kevingentile opened #1392 "gr-digital: packet.py withheld packet"
I'm currently tracking a bug that retains a single packet within the hierarchy of the packet_encoder/packet_decoder system. Given a small input file of the default packet size (512 bytes), the flow graph will not pass a single packet and requires a second packet to push the first out. Additionally, the encoder requires additional padding to be added to satisfy the default payload length for consum

[2017-07-20 17:59] #1388 closed

[2017-07-21 00:34] awalls-cx18 commented on #1338
Please read the python source code for these blocks to learn how to format their input streams:
https://github.com/gnuradio/gnuradio/blob/master/gr-digital/python/digital/cpm.py
https://github.com/gnuradio/gnuradio/blob/master/gr-digital/python/digital/gmsk.py

From the png image of your flowgraph, it appears to me that you may not have formed the input stream in a manner that the blocks require.

[2017-07-21 09:58] jdemel commented on #1385
The bug fix is merged into maint. Thus, I close the issue now.

[2017-07-21 09:58] #1385 closed

[2017-07-23 18:44] michaelld commented on #1383
I've been working on replicating this issue on OSX, with no success. I can verify that when logger.h.in line `typedef std::string logger_ptr` is changed to `typedef void* logger_ptr`, GR builds without issue. I would also guess that any OOT will work correctly then because all 3 typedefs of logger_ptr are pointers. The type used for this change doesn't matter because it's not used, so why not make

[2017-07-24 07:24] vmartyanov commented on #1305
So, it's recommended to use individual sinks instead of QT GUI sink?

[2017-07-24 21:58] jmcorgan commented on #1305
Yes.

[2017-07-25 11:26] gnieboer commented on #1383
Win64 build scripts completed without a problem with my previous workaround removed and the line above changed as you described, a quick check indicates gqrx worked as expected, but I be a bit more thorough tonight.

[2017-07-25 15:39] marcusmueller commented on #1230
@jmcorgan coming up with an approach:

Restructuring of GNU Radio in-tree modules
------------------------------------------

Goal
====

* Make location of blocks more intuitive to the user
* Make GNU Radio faster to build (smaller linker and SWIG objects)
* Make Maintenance easier by having assignable subsystems

Approach
========

* Move semantically similar blocks into logically named modules
*

[2017-07-26 01:15] gnieboer commented on #1383
Did more thorough testing, no issues discovered.

[2017-07-26 01:18] michaelld commented on #1383
Excellent. Thanks for testing! I'll create a PR for this change, along with my others related to logging / log4cpp.

[2017-07-27 09:09] nakic opened #1395 "GNU Radio should complain when it detects "unknown" settings in its conf. files"
I am getting started working on OOT blocks and have added the following to ~/.gnuradio/config.conf in order to be able to see my blocks in action:

    local_block_path=/usr/local/share/gnuradio/grc/blocks

Lost the better part of the day looking for a reason why my blocks wouldn't appear in the GRC block list ("wrong file? wrong dir? bad module XML? GRC bug?...") until someone on stackoverflow po

[2017-07-28 14:23] marcusmueller commented on #1395
That's impossible by design.

There's no "listing" of "correct" keys – the program, whenever it needs a setting from the configuration file, just asks for it. The parser has no way of knowing if, anywhen in the future, a specific configuration key might be needed. Hence, there's no a-priori "wrong" keys.

It goes without saying that it'd be nice to have a well-documented config file. You'll find a

[2017-07-28 14:28] marcusmueller opened #1397 "Get the gripe process going before GRCON'17"
we have gnuradio/gripe, we should just get started on allowing usage of it.

[2017-07-28 19:53] michaelld commented on #1383
This fix and much more: https://github.com/gnuradio/gnuradio/pull/1398

[2017-07-28 19:54] skoslowski commented on #1395
Also, GRC prints out the block paths in use.

On Fri, Jul 28, 2017, 16:23 Marcus Müller <notifications@github.com> wrote:

[2017-07-28 22:54] bastibl commented on #1383
I don't get the problem with 4.) IIRC, the absence of this include caused many build problems in the past and would require adding the include to every submodule since every block is indirectly including log4cpp:
https://github.com/gnuradio/gnuradio/blob/master/gnuradio-runtime/include/gnuradio/logger.h.in#L171

[2017-07-29 01:02] michaelld commented on #1383
If you check, the submodules that use logging already have LOG4CPP_INCLUDES included. I didn't put them there. Please test and verify. I've done so many times with the various logging options enabled / disabled to verify functionality ... all now work for me with these changes, admittedly on OSX but CMake is generic enough they should work on the other supported platforms too.

[2017-07-29 01:06] michaelld commented on #1383
I think before https://github.com/gnuradio/gnuradio/commit/08ab03d781135481f15afc1ef0754c60d4ccad42 we had to have the LIBRARIES and INCLUDES included pretty much everywhere. This commit allows better selective use of logging, so that we don't need them everywhere any longer. This PR fixes issues with that commit & also related logging issues mostly with the CMake parts (minimal compile-time issue

[2017-07-29 01:22] bastibl commented on #1383
I don't know what you mean with selective use of logging, but I had the impression that every block includes `block.h`, which includes `logger.h`, which references log4cpp if logging is enabled. Therefore, I don't understand the comment about submodules that use logging. I though all submodules need the log4cpp includes. IIRC, that was the problem in several issues.
I added the include to `GNURADI

[2017-07-29 01:49] michaelld commented on #1383
Drat. This change works because the LOG4CPP_INCLUDE_DIRS is the same as BOOST_INCLUDE_DIRS for my specific install. If they were different then the submodules that do not add LOG4CPP_INCLUDE_DIRS would fail to build. So back to the drawing board, at least partially.

That said, we shouldn't add LOG4CPP_INCLUDE_DIRS to GNURADIO_RUNTIME_INCLUDE_DIRS because we can't guarantee that GNURADIO_RUNTIME_I

[2017-07-29 07:50] bastibl commented on #1383
True, but I thought it's a step in the right direction. We might want to add `LOG4CPP_INCLUDE_DIRS` to `GNURADIO_RUNTIME_INCLUDE_DIRS` and record the variable in ` GnuradioConfig.cmake`. Then an OOT gets the right directories when doing

[code]

In general, I think, `GNURADIO_X_INCLUDE_DIRS` should contain the directories that are needed by the headers in `gr-x/include/gnuradio/x/`. These variable

[2017-07-29 11:34] michaelld commented on #1383
So for OOTs I agree that one should set the GNURADIO_X_INCLUDE_DIRS as you say.

The issue here is internal to the GR repo. If each GNURADIO_X_INCLUDE_DIRS were set and some contained external dirs, then there is no way to order them such that all external dirs come after internal dirs. This ordering makes a difference on systems where an already-existing GR install is in place while the new one i

[2017-07-29 14:40] nakic commented on #1395
@marcusmueller I'm not familiar enough with how GNU Radio works to be able to weigh in, but fair enough, just thought I'd suggest it if it could save someone some time and trouble down the line.

@skoslowski Can't check right now, but haven't noticed it if it does. Even so, that would just address this specific variable, not solve the problem in general, but as Marcus pointed out, that can't be do

[2017-07-30 12:19] bastibl commented on #1383
I see, so if one in-tree submodule depends on two submodules it could lead to problems (otherwise it could be solved by reordering includes). But even with that problem, the definition of `GNURADIO_X_INCLUDE_DIRS` might still be better than, for example, conditionally adding `LOG4CPP_INCLUDE_DIRS` to every submodule.

Since cmake doesn't seem to support it, how about replacing `include_directories

[2017-07-30 17:55] michaelld commented on #1383
Hmnm .. that's a good idea. It's worth a try. I'll look into it next week.

[2017-07-31 19:24] #1305 closed

[2017-08-02 16:31] mbr0wn commented on #1395
Even if we had a way of curating a white list of options (which would be really hard to maintain), we explicitly don't make any guarantees on what's in the config file. This gives developers the option to add config keys as they need for their purposes.
`local_blocks_path` is not a required key, either. GRC has other ways of finding blocks, so it's a valid option to simply not set it.

As you say,

[2017-08-02 16:31] #1395 closed

[2017-08-04 08:16] marcusmueller opened #1407 "crc32_bb: broken unpacked processing"
As Eric Bandwart [notes](https://lists.gnu.org/archive/html/discuss-gnuradio/2017-08/msg00031.html):

![crc_test grc](https://user-images.githubusercontent.com/958972/28959916-ceda6ede-78fc-11e7-93c7-9fcb5f928fdb.png)

annotated plots:

![error pattern](https://user-images.githubusercontent.com/958972/28960194-f3f0e256-78fd-11e7-9052-6060793d16b1.png)

[2017-08-04 09:36] MisterOizo opened #1408 "GPS tracking on a map over mobile app software using RF"
Hello, I tried to search for any mobile applications that are done or in progress that used this or any other software to transfer mobile GPS data over radio.

For example, there is a map on the mobile app, where you can see each mobile devices' location as it sends it over to the other devices over the radio frequencies.

Are there any feature like this in GNU Radio or any similar projects? I'm a

[2017-08-04 13:40] jmcorgan commented on #1408
The issue tracker here is for reporting bugs in GNU Radio. For support or general questions like this, please use our mailing list, IRC channel, Slack, or StackOverflow. Thanks.

[2017-08-04 13:40] #1408 closed

[2017-08-04 15:55] MisterOizo commented on #1408
OK, sorry, as I thought it'd could considered as a feature request if it's not existing. I'll post it on the discuss-gnuradio then.

[2017-08-05 00:47] BrashEndeavours opened #1409 "gr-qtgui: Range widget default value precision"
Default (initial) value is limited to a precision value of 2 sig figs, regardless of steps, default value, or range.

[2017-08-05 07:05] marcusmueller opened #1411 "Vector Sink: data() isn't thread-safe"
The vector sink is commonly used to get data out of a flow graph. Internally, it's just a `std::vector` that keeps getting filled with items.

Now, data() *can* be called during runtime, and it's common practice to do so.

But: that leads to race conditions, since the `work` thread might be filling the vector while it's being read. Worse, even, since `std::vector` will allocate larger buffers when

[2017-08-06 16:54] matix2120 opened #1413 "wxgui in next branch"
Hello,
what happend to wxgui in next branch? Are you planning to add this? I've just managed to compile gnuradio on Mac OS Sierra after fighting with it for the whole weekend, and it looks like it's impossible to build it using master. So I have to stick with next branch for now.

[2017-08-06 22:40] awalls-cx18 commented on #1409
I've been annoyed by this small bug for years.  Thank you for submitting a fix.

[2017-08-06 22:52] BrashEndeavours commented on #1409
You're very welcome!

[2017-08-07 15:15] jmcorgan commented on #1413
The gr-wxgui components have been deprecated for a very long time and have (as you've seen) already been removed on the next branch for the 3.8 release.

I'm not familiar with MacOS so I couldn't say what your problem with the master branch might be. @michaelld is our maintainer there.

[2017-08-07 15:54] matix2120 commented on #1413
Ok, I've already found that in the meantime. I just thought that all the wx blocks were deleted without porting them to qt, but now I see that some names just changed.

Regarding building on MacOS I'll create another issue with relevant name. This one can be closed.

[2017-08-07 17:23] #1413 closed

[2017-08-07 18:34] matix2120 opened #1416 "Python crash "no current thread" on brach next"
Hello
I've build Gnuradio from sources (branch next) on MacOS 10.12.5 and I'm facing some issues - mainly crashing python when trying to use some QT block causing whole gnuradio-companion close.
I'm using homebrew and installed all the dependencies including Python.
These are paths to all Python versions (don't know whether gnuradio uses python2 or python2.7 binary):

After running:
`CC=/usr/bin/l

[2017-08-08 08:51] bastibl commented on #1416
That usually means that something uses or is linked against the system installation of Python. Your cmake command looks good. Some things you could check:
- make sure that there is only one GNU Radio installation, i.e., you don't have any old installations
- your command worked and `otool -L libgnuradio-qtgui<version>.dylib` lists only the Python version of Homebrew.
- if you compiled any GNU Radi

[2017-08-08 20:10] BrashEndeavours commented on #1219
As @kartikp1995 mentions, I believe when callbacks in the GRC encounter a template error they are written into `callbacks[id]` with `id='error'`.

Normally not an issue as `callbacks['error']` is not accessed....
Except when a variable or other element has an `id='error'`, which causes the erroneous callbacks to be attempted to be rendered [here].(https://github.com/gnuradio/gnuradio/blob/master/g

[2017-08-08 21:21] jmcorgan commented on #1411
I'm not sure how common this is; vector sinks are mostly found in QA code with data() being called after the flowgraph is over. Protecting it with a mutex though is proper. I'd check if there are any other public member functions that need to pick up the mutex at the same time.

[2017-08-08 21:53] marcusmueller commented on #1411
You mean "other public functions" of the vector_sink, or globally in GNU
Radio? Because for the latter: yes, there are, and I've been avoiding to
fix those, because I'd rather bring forward a
message-handler-instead-of-calling-methods architecture than going in
and fixing every block out there.

On 08.08.2017 23:21, Johnathan Corgan wrote:

[2017-08-08 22:20] jmcorgan commented on #1411
I was referring to vector_sink only. The global issue is GNU Radio will be dealt with a different way as you've noted.

[2017-08-10 14:40] v1bri opened #1420 "Incorrect Asio buffer use in tcp_connection"
I was strolling through some Asio code when I came across a small bug in `tcp_connection`. The `boost::asio::async_write()` call requires that the underlying buffer remain valid until the write handler has been called. However the current version uses a local `std::vector` that will go out of scope once the calling method returns.
https://github.com/gnuradio/gnuradio/blob/master/gr-blocks/lib/tcp_

[2017-08-11 15:12] matix2120 commented on #1416
Ok, so I've started from scratch, and reinstalled almost all again and it worked. I'm pretty sure that in previous attempts I did everything the same, but as we can see I must have forgotten something.

Unfortunately I'm only partially glad, because when I try to use rtl-sdr as a source whole gnuradio randomly crashes when I'm executing the flow graph. I've noticed more crashes when I'm modifying

[2017-08-13 18:30] mrjacobagilbert commented on #1199
I apologize for letting this sit for so long. I have a fix here but need to test w/ hardware early next week as it is slightly different (and less confusing/complicated) than what I have been using successfully.

https://github.com/mrjacobagilbert/gnuradio/tree/uhd_msg_tune_determinism_fix

[2017-08-14 20:12] michaelld commented on #1316
https://github.com/gnuradio/gnuradio/pull/1424
https://github.com/gnuradio/gnuradio/pull/1425

[2017-08-14 20:12] michaelld commented on #1316
I think either 1424 or 1425 should be mergeable on next, but if not I’ll make a PR for that too — similar, yet different!

[2017-08-14 20:41] noc0lour opened #1426 "gr-digital: map_to_points() cleanup usage w.r.t constellation dimensionality"
Referring to coverity issue `1378208`. Which is already marked as `safe` in  `lms_dd_equalizer_cc_impl.cc` but is new in `timing_error_detector.cc:263`. Basically we are passing a `gr_complex` as pointer and pinky promise that we only have constellations with `dimensionality = 1`.

I think there is a safe way to handle this without promising things we can't enforce.

[2017-08-16 10:18] marcusmueller opened #1428 "fractional_resampler is a misnomer, should be renamed in next"
The blocks that we call `fractional_resampler_{cc|ff}` really shouldn't be called "fractional", as it suggests a rational in/output rate ratio. That's explicitly not the case with these. We have `rational_resampler_` for that!

This has caused a lot of confusion among students, and newbies, in general. I'm not excluding myself here.

It's clear how that name "happened" – we have a (slightly confus

[2017-08-16 19:06] jmcorgan commented on #1428
Agree. A PR to do this and change the QA, examples, and docs would be appreciated.

[2017-08-16 23:39] #1409 closed

[2017-08-17 23:14] drom opened #1430 "CMake Error at cmake/Modules/GrTest.cmake:48"
Linux, OpenSuse Tumbleweed. Kernel 4.11.8-2

Created simple OOT module and simple block in it.

Trying to do cmake and getting CMake error:

[code]

Could you suggest what goes wrong?

Full log:
[code]

[2017-08-18 00:12] BrashEndeavours commented on #1430
Error is in this line:
`string(REGEX REPLACE "\\$\\(.*\\)" "${CMAKE_BUILD_TYPE}" path "${path}")`

Since REGEX needs certain args, try printing the `path` and `CMAKE_BUILD_TYPE` variables and make sure those are set properly?

[2017-08-18 07:03] drom commented on #1430
I am following exactly the tutorial steps from here: https://wiki.gnuradio.org/index.php/Guided_Tutorial_GNU_Radio_in_C%2B%2B
The `cmake/Modules/GrTest.cmake` is automatically generated by GNU Radio boilerplate generator I guess.
I tried the same steps on two different Linux systems wit exactly the same environment.

[2017-08-18 19:02] mrjacobagilbert opened #1431 "gr-blocks: tags_strobe nsamps callback is broken"
There is an issue with the tags_strobe block which is caused by incorrect tracking of data indices. Still looking into it, but it is easy to cause incorrect behavior when using the nsamps callback. This is particularly prevalent at low sample rates. There is a flow graph [here](https://github.com/mrjacobagilbert/gr-misc_debug_utils/blob/master/examples/tags_strobe_issue.grc) that demonstrates this

[2017-08-19 01:05] 777arc commented on #1431
Yeah it looks like d_offset = 0 should have never been in the setter.  I moved it to the constructor and made a PR.

Now at first this change did not seem to work for me, but then I realized it was because tags_strobe was creating tens of thousands of samples and tagging them (because the output buffer is tens of thousands large), and then the throttle is slowly pushing them through the flowgraph.

[2017-08-19 01:35] mrjacobagilbert commented on #1431
Looks like it functions correctly now. The 'broken' behavior was the duplicate tags, not the delay so that looks like a good fix to me.

[2017-08-22 18:09] michaelld commented on #1383
Long time! @bastibl Yes, we can do this last suggestion & it seems to work really well! I have some testing to before pushing a PR, but overloading `include_directories` is definitely a good way to fix the include ordering for real & once and for all.

[2017-08-22 18:11] michaelld commented on #1383
Given the complexity of this change & the testing required, I'm going to create a new PR for the logger_ptr issue to get it fixed, separate from the fix in #1398 -- and, then that PR will just be this overloaded macro & related changes.

[2017-08-27 05:39] ariasorhab opened #1441 "Validation Failed, gnuradio-iqbalance.dll was not found and is required"
I got many errors till now to successfully download gnu radio source on windows,
but this last one is not solving by any means.

[2017-08-27 13:49] marcusmueller opened #1442 "filters and other stateful blocks need to be able to react to some `reset` tag"
From a discussion with @awalls-cx18 on IRC:

* FFT filters and such are nice, but unusable for bursty operation, since there's no way to clear internal state
* this leads to own implementations and thus, code duplication

Solution I propose:

* Add a GR-wide standard `reset` tag
* On that tag, the scheduler nulls out the input buffer history of a block before calling it. This might require only ca

[2017-08-27 13:57] marcusmueller opened #1443 "RPC aggregator: storing reference to temporary callback object"
Getting the below warnings on building `gnuradio-runtime`. To me, this looks like a serious bug, because, they store a reference to some functor that is temporary as callback, which would later explode in our faces when that callback is actually triggered.

I don't know if I interpret the code correctly, however. I need a second pair of eyes on that.

I'm also not sure if anyone is actually using

[2017-08-27 14:23] mrjacobagilbert commented on #1442
Followup on IRC: This will have some impact on performance as all blocks adhering to this will now need to check for and act on tags. The actual impact of this is not clear to me but should be noted.

[2017-08-27 15:17] marcusmueller opened #1444 "Python bindings and Ctrlport tests fail with Thrift 0.10 installed; GR crashes randomly"
After building maint of today with Thrift enabled, compiled by clang:

[code]

with `cmake -DENABLE_CTRLPORT_THRIFT=Off` (only difference), no random crashes. The same tests aren't included in this case, so no comparison can be done here.

Tested on two independent Fedora 26 x86_64 machines. Fedora 26 ships Thrift 0.10.

[2017-08-27 17:24] osh opened #1446 "remove tagged stream blocks"

[2017-08-27 17:28] BrashEndeavours commented on #1442
The performance offset could be mitigated for non reset-checking blocks by using a *reset enable* flag in the constructor/grc dialog.

[2017-08-27 17:48] marcusmueller commented on #1446
to extend on this: TSBs are giving us a feature we *need*, that is, bursty operation.

But: that's really a feature that the scheduler should offer as an operational mode for blocks (or rather, subgraphs), and not something we bolt on via tags. I appreciate the existence of TSBs as a solution to the problem of implementing the modern packet blocks in gr-digital! We wouldn't be where we are without

[2017-08-27 17:51] #1411 closed

[2017-08-27 17:59] marcusmueller commented on #1442
Hm, that sounds much more like a flag that should have much more
universal application.

I'm thinking of something like a tag filter that you can set to
different values:

* ALL (which would be current behaviour)
* NONE (which means that this block will never call get_tags_in_range;
thus, input tags could directly be handed over to the next block(s)'s
tag container, according to the tag_propagatio

[2017-08-27 18:42] jmcorgan commented on #1383
So, with #1438 merged, what's your next step?

[2017-08-27 18:45] jmcorgan commented on #1444
So, this code is essentially unmaintained; there doesn't seem to be anybody that wants to continue developing on it. It's likely we'll deprecate it with 3.8, build up an alternative to it during the 3.8->3.9 time period, then finally excise it for 3.9.

[2017-08-27 18:47] #1428 closed

[2017-08-27 19:09] marcusmueller commented on #1444
Cool with me, definitely :)

I wonder what makes GR crash with Thrift 0.10, but I haven't been figuring it out, as elbow deep as I'm currently inside GDB. Might simply be that fedora Thrift was built with some non-explicit ABI assumptions that GCC fulfills, but my clang doesn't. Might mean no thrift for me unless I really need it (and then I'll have to try GCC and/or a manually downgraded Thrift).

[2017-08-27 19:24] michaelld commented on #1383
I need to get the overloaded macro pushed, which I think is best in a separate PR for folks to do testing on. Once that's in place, then I'll revisit this issue. I think that ordering makes the most sense. I should get the overloaded macro PR out tomorrow.

[2017-08-27 19:42] michaelld commented on #1383
See #1447 for my PR.

[2017-08-28 16:05] 777arc commented on #1446
What about a new type of block that operates on single packets/frames/vectors (whatever you want to call it) at a time, instead of in a streaming-mode.  And then a 2nd type of block that acts as the transition from streaming-mode blocks to vector mode blocks.  Similar to how there are RFNoC blocks, and you use a Copy block to go from RFNoC to normal streaming-mode on the cpu.  That transition bloc

[2017-08-28 16:15] osh commented on #1446
@777arc
new type of block that operates on single packets/frames/vectors (whatever you want to call it) at a time

2nd type of block that acts as the transition from streaming-mode blocks to vector mode blocks

For plotting stuff, I would love to be able to just throw the x and y data to a plotter via messages or whatever

[2017-08-28 16:31] 777arc commented on #1446
Do the updated gr-qtgui message ports allow for different length vectors or data with different x-axis?  So like the equivalent of plt.plot(range(10), range(10), range(20), range(20))?

[2017-08-28 20:52] owfrappier opened #1449 "DVB-T TX - GUARD INTERVAL always in 1/32 - 1/16 1/8 1/4 doesn't work."
Hi,

in DVB-T transmitter guard interval is always 1/32 (bug), even with other values 1/16, 1/8, 1/4, still stay at 1/32 (0)

see :

gr-dtv/lib/dvbt/dvbt_reference_signals_impl.cc

set_tps_bits(37, 36, config.d_guard_interval);

missing switch :

ETSI 4.6.2.8 :
http://www.etsi.org/deliver/etsi_en/300700_300799/300744/01.06.01_40/en_300744v010601o.pdf

Bits s36, s37 Guard interval values (?/TU)
00

[2017-08-28 20:54] jmcorgan commented on #1449
@drmpeg

[2017-08-28 21:17] owfrappier opened #1450 "DVB-T wrong CELL-ID : only 8 bits but CELL-ID should be 16bits within 2 DVB-T frames (2X8 bits)"
Hi,

see :

wrong cell-id calculation in DVB-T
gr-dtv/lib/dvbt/dvbt_reference_signals_impl.cc

Final draft ETSI EN 300 744 V1.6.1 (2008-09)

4.6.2.10 Cell identifier
The eight bits s40 to s47 are used to identify the cell from which the signal comes from.

CELL-ID : 16 bits (2 X 8 BITS within 2 frames)

First 8 bits : FRAME 1 and 3
cell_id [4], i.e. b15 - b8, shall be transmitted in super-frames w

[2017-08-28 21:24] jmcorgan commented on #1450
@drmpeg

[2017-08-28 22:13] drmpeg commented on #1449
Works fine here. Note that you have to change the CP Length in the OFDM Cyclic Prefixer block to match the guard interval. For example, in 8k mode and 1/16 guard interval, CP Length = 8192/16.

[2017-08-28 22:15] drmpeg commented on #1450
It's a bug. I'll provide a pull request soon.

[2017-08-28 23:32] owfrappier commented on #1449
Hi,
Thanks. Works like a charm. Closed

[2017-08-28 23:32] #1449 closed

[2017-08-31 04:23] vamsi765 opened #1454 "digital.generic_mod broken on MacPorts gnuradio-devel"
I get the following error when I use digital.generic_mod

`digital.generic_mod(const, False, samp_symb, False, rolloff, False, False)`

`Value "digital.modulate_vector_bc(preamble_modulator .to_basic_block(), (preamble_hex), ([1]))" cannot be evaluated:`

I'm on latest repository from MacPorts:
gnuradio-devel @20170827_0+ctrlport+debug+docs+grc+jack+log4cpp+logging+performance_counters+portaudio+q

[2017-09-01 06:08] gdyr opened #1457 "SEGFAULT on macOS 10.12"
Apologies if I'm missing something obvious, but I've installed the gnuradio-devel and uhd-devel ports as suggested in other issues where this has come up, but I'm still getting a segmentation fault when launching gnuradio-companion.

Process:               Python [3193]
Path:                  /opt/local/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python
Ide

[2017-09-01 06:51] vamsi765 commented on #1457
I think the issue you have is with gnuradio. My issue was with uhd.

I think your issue is with python packages. Probably multiple copies of gnuradio.

[2017-09-05 01:44] gmichael225 commented on #1457
No multiple copies so far as I can tell!

[2017-09-05 14:58] marcusmueller opened #1459 "integrate has `int vlen` parameter; should be `unsigned`; check other block's"
There's a lot of blocks that take `vlen` parameters. This is a reminder to myself (please assign to me) to go through the tree and identify all places where we should've used unsigned int instead of int.

This might look cosmetic (it's unlikely someone would want a vector half of MAX_INT in size, and the scheduler and buffer allocator might reasonably break on that), but it actually gives compiler

[2017-09-07 02:10] vamsi765 commented on #1454
Hi @michaelld ,

Could you look at this issue when you get a chance?

Thanks!

[2017-09-07 02:13] michaelld commented on #1454
@vamsi765 sure. do you have a GRC flowgraph or Python script that shows this issue? that's easiest for me to test, instead of having to create my own. thx!

[2017-09-08 10:54] saydulk opened #1460 "403 Forbidden nginx - https://gnuradio.org/"
showing 403 Forbidden nginx at gnuradio.org website, please fix nginx
check - service nginx status or ps waux | grep nginx

[2017-09-08 11:02] BrashEndeavours commented on #1460
Works for me.

[2017-09-08 11:59] saydulk commented on #1460
![screenshot from 2017-09-08 17 58 32](https://user-images.githubusercontent.com/1058663/30210709-6a3869d4-94bf-11e7-838c-7a3ab853d77e.png)

[2017-09-08 14:56] marcusmueller commented on #1460
Works for me, too, so, I'd assume you, @saydulk, you might be

* behind a misconfigured proxy or
* you might be blocked.

Either case can't be solved via the source code issue tracker. I'm recommending closing this issue.

If you are being blocked, we, or our CDN, might have been seeing attacks or Spam coming from your general direction. @noc0lour might have more insight on how to assess that, ple

[2017-09-08 15:23] marcusmueller opened #1461 "gr-blocks: moving average test case not sufficient"
MA test case only tests whether the output of the block is "roughly equal":

        expected_result = N*[0,]
        …
        self.assertFloatTuplesAlmostEqual(expected_result, dst_data, 1)

and I *mean* roughly. 1 significant digit roughly, for a sum over 100 random floats divided by 100.

That's not a very good test case, because it doesn't catch *any* numerical error that is not blatant, anyw

[2017-09-08 15:30] marcusmueller commented on #1461
Ceterum censeo medium movens in gr-filter ponendum esse.

[2017-09-08 16:24] #1460 closed

[2017-09-13 04:21] drom commented on #1430
Looks like `CMAKE_BUILD_TYPE` is not set.

Uncommenting line `CMakeLists.txt:35` solves an issue.

Was:
`#IGNORE    set(CMAKE_BUILD_TYPE "Release")`

Now:
`set(CMAKE_BUILD_TYPE "Release")`

[2017-09-14 01:49] vamsi765 commented on #1454
I updated the ports again today and I didn't face the issue. Thanks!

[2017-09-14 01:49] #1454 closed

[2017-09-14 02:08] michaelld commented on #1454
Glad it was that simple! Thanks for reporting back.

[2017-09-15 22:34] nowls commented on #1442
For the FFT filter case, I believe a first requirement is writing a flush/clear/reset method. Second, there's a question of implementation. In the case of the FFT filter, it contains its own history/state whereas FIR filters use the normal GNU Radio buffer history. I just wanted to point out that blocks can be made to implement reset methods (or accept an inherited version that does nothing), wher

[2017-09-17 23:14] drejtiv commented on #1347
I had a similar issue (9 out of 10 Python executions with my HackRF resulted in segfault.)  I followed the advice and switched to uhd-devel and gnuradio-devel which solved the problem (now maybe 1 in 20 launches produces a segfault, but the next attempt to launch will always succeed.)

[2017-09-17 23:20] noc0lour opened #1466 "python: replace star imports in python modules"
In some submodules (e.g. analog) `__init__.py` has a lot of star imports to submodules which makes tracing the called function hard. Clashing function names in the submodule can also occur without noticing it.

Replacing star imports with named imports in `__init__.py` would make clean which functions are intended to be in the top-level package.

[2017-09-18 00:04] michaelld commented on #1347
Great! That's about what I get too for crashes. Doesn't require actual SDR hardware either. Just running GR (gnuradio-devel). I haven't tried debugging yet.

[2017-09-25 06:29] rvl opened #1470 "Compiling with gcc6/gcc7"
Hi, this is probably related to #1316.

Currently the Arch Linux and Fedora distributions patch gnuradio (e.g. [Arch](https://git.archlinux.org/svntogit/community.git/tree/repos/community-x86_64/gnuradio-gcc7.patch?h=packages/gnuradio&id=d61c3e4db7741753208286f32d33dbf26cd2bb53), [Fedora](http://pkgs.fedoraproject.org/cgit/rpms/gnuradio.git/commit/gnuradio-3.7.11-gcc-7-compile-fix.patch?id=b2f5f35

[2017-09-25 08:59] noc0lour commented on #1470
Thanks for the report @rvl. #1424 and #1425 were merged in master and maint respectively.
Not sure about the `<memory>` includes you put in there.
Could you provide a build log with the errors? Apparently the build logs from the failed builds in https://github.com/NixOS/nixpkgs/pull/29740 are not accessible anymore.

[2017-09-25 19:25] rvl commented on #1470
Hi @noc0lour thanks for the info.

The failing build log is here: https://hydra.nixos.org/build/61662739/nixlog/1

It wasn't my patch -- I just grabbed it from Arch. But you're right, it appears those `<memory>` includes aren't necessary.

If the two PRs referenced fix builds with gcc6--gcc7 and boost 1.62--1.65 then we are happy, because then there will be no source patches or cflags required to

[2017-09-26 14:44] mbr0wn commented on #1466
We should, in general, aim for a high PyLint score. It would flag star imports. Could we somehow integrate this into BuildBot?

[2017-09-26 21:39] noc0lour commented on #1466
[code]

I don't think we want to check the swig generated parts, but yes integrating in buildbot is a good idea

[2017-09-27 18:03] #1470 closed

[2017-09-27 18:42] noc0lour commented on #1470
@rvl so I guess the fixes on current master/maint work for you?

[2017-09-28 20:28] Praetorian72 opened #1474 "uhd_fft"
Good day to every body,
I'm using an ETTUS B200 mini for doppler frequency monitoring.
To analyze the spectrum in real time, I'm currently using uhd_fft.py application whose maximum fft sample number is 4096, while I need 2^14 samples.
I tried to investigate into the c++ files (invoked by uhd_fft.py), such as freq_sink_c_impl.cc (https://github.com/gnuradio/gnuradio/blob/master/gr-qtgui/lib/freq_s

[2017-09-29 20:30] sanchit97 commented on #1466
Hi! I am interested in doing this task. Can you point out any explicit examples where I can learn a little about the task?

[2017-09-29 20:33] balister commented on #1466
I ran
$ grep "import \*" -r *
and got a bunch of hits. See if that can get you started.

[2017-10-01 14:33] mrjacobagilbert commented on #1302
I just ran into something simiarl.

As I recall, prior to my PR, setup_rpc() was only called for blocks with connected streaming ports, and was updated to call setup_rpc() for all blocks with connected ports (message or streaming).

If this is still an open issue I will take a look since it looks like I might have broken this.

[2017-10-01 15:51] 777arc commented on #1302
awesome thanks!

[2017-10-02 12:58] mrjacobagilbert commented on #1302
Yep, that PR fixed performance counters for message port only blocks but broke how setup_rpc() is called for blocks without message connections. Wow. I'll look into it and get a PR in to address this.

[2017-10-02 16:09] mbr0wn commented on #1474
@Praetorian72 It's not quite clear what your request is. Maybe `uhd_fft` is not the right tool for this kind of application. If you *do* want the QT Frequency Sink to have longer FFTs, recompilation is not optional.

Consider making your own application for this. The regular FFT block might be better suited, and the QT GUI Vector Sink could also be useful.

[2017-10-03 12:33] Praetorian72 commented on #1474
@mbr0wn  thank you very much for your replay. I believed it was possible, by recompiling, to increase fft sample number from 2^12 samples to 2^16 samples. Anyway, I will use the Vector Sink module as you suggested me. Further, I'm using also alternative (and surely more suitable) techniques implemented on specest_gui ..,,but on Fedora 23 I'm having some problems. Thank you again for your support.

[2017-10-03 20:27] mbr0wn commented on #1430
Which CMake version do you have? And did the uncomment fix this issue for you?

[2017-10-03 21:18] mbr0wn commented on #1420
#1419 was merged, can this issue be closed?

[2017-10-03 21:20] mbr0wn commented on #1316
#1424 and #1425 are merged, can this issue be closed?

[2017-10-03 21:23] mbr0wn commented on #1441
gnuradio-iqbalance is not part of GNU Radio, it's a separate module. Not sure if this is really a GNU Radio issue or if we can close this. @ariasorhab please provide more info, or we'll close this.

[2017-10-03 22:30] michaelld commented on #1316
From my perspective: yes.

[2017-10-04 19:04] chevdor opened #1478 "Unresolved conflicts in the homebrew file"
It looks like someone committed with unresolved conflicts:
`/usr/local/Homebrew/Library/Taps/homebrew/homebrew-core/Formula/gnuradio.rb` contains many conflicts.
For instance:
[code]

[2017-10-04 20:08] yarda commented on #1316
Thanks, as the original requester I am closing it.

[2017-10-04 20:08] #1316 closed

[2017-10-04 20:37] jmcorgan commented on #1478
@michaelld ping

[2017-10-04 21:20] chevdor commented on #1478
I guess the issue is local on my end as I don´t see the issue in https://github.com/Homebrew/homebrew-core/blob/master/Formula/gnuradio.rb

[2017-10-04 21:20] #1478 closed

[2017-10-04 21:55] michaelld commented on #1478
Thank goodness! I'm not particularly familiar with 'brew; I'm not sure how much help I could be!

[2017-10-06 10:34] sbmueller commented on #1461
So I think this was fixed in #1475

[2017-10-06 13:45] letitbezh opened #1480 "Error importing GNU Radio's wxgui"
when i use osmocom_fft  it is wrong
[code]
the gnuradio is right .whar should i do ,thank you for your answer!

[2017-10-06 15:04] #1461 closed

[2017-10-07 09:07] marcusmueller commented on #1480
This is not the home of gr-osmosdr, from which `osmocom_fft` is. Also, `osmocom_fft` is not in gr-drm, and the obvious question here is whether you've got gr-wxgui installed. So, wrong place to ask!

You can check whether a GNU Radio core component is installed by running `gnuradio-config-info --enabled-components`.

Note that gr-wxgui is deprecated and will be removed in the upcoming GNU Radio 3.

[2017-10-07 09:13] marcusmueller commented on #1466
@sanchit97 checking back on you: Because you said you'd take on this task, we'd be willing to help you. So, how's it going? Is there any problem that you need help with?

[2017-10-07 11:59] sanchit97 commented on #1466
@marcusmueller Thanks for checking in. I tried finding all the star imports in the whole repo. The occurrences of such imports ran >150 in number. So, I was wondering if all of them have to be manually checked and changed?
Another thing is if encountering something like "from numpy import *". Does this need to be changed or not?

[2017-10-07 14:27] marcusmueller commented on #1466
I'd say, yes.

By the way, `from numpy import *` is a prime example of something that shouldn't be done with a star import – for example, because `numpy.sum` then overrides the python built-in `sum`, which is a recipe for bugs.

Note that nobody's expecting you to get completely rid of all star imports at once. Start with a branch that gets rid of all star imports in `gnuradio-runtime`, for exampl

[2017-10-07 15:29] vamsi765 commented on #1459
@marcusmueller Do you want to me to take a look at the issue?

[2017-10-08 13:15] noc0lour commented on #1466
Heh, I didn't have a specific proposal for improving the code here. I was tracking down some issue and got annoyed by looking through modules which might import this specific function/class. I like the `from foo import bar, baz` syntax.

[code]

[2017-10-10 21:53] lakshmanaram commented on #1466
Hey! If the work hasn't been started on this issue or isn't progressing, I'd like to take it up.
Please confirm @sanchit97

[2017-10-10 21:59] sanchit97 commented on #1466
@lakshmanaram I started some work, but feel free to go ahead.

[2017-10-11 13:23] noc0lour opened #1482 "python3: build failures with py3 interpreter, build success with py2 interpreter"
See https://ci.gnuradio.org/buildbot/#/builders/12/builds/49/steps/4/logs/stdio for the latest build results (tip of python3). Somehow the code generation with python3 fails because of some encoding errors.
Python2 on the other hand succeeds and just fails a test.

Someone a clue why this fails?

[2017-10-12 21:50] mrjacobagilbert opened #1483 "runtime: d_min_noutput_items does not appear to do anything"
Setting this should constrain the number of output items requested to be produced by blocks according to the documentation, but it does not appear to do anything. Should this be:

- fixed such that it works as expected?
- left for future implementation and documentation updated?
- removed altogether?

[2017-10-13 01:31] jmcorgan commented on #1483
The getter is defined inline in block.h and is called by the runtime in:

https://github.com/gnuradio/gnuradio/blob/master/gnuradio-runtime/lib/block_executor.cc#L218

The value ultimately gets used by the logic in min_available_space(...):

https://github.com/gnuradio/gnuradio/blob/master/gnuradio-runtime/lib/block_executor.cc#L79

Can you elaborate on the original issue?

[2017-10-13 14:01] mrjacobagilbert commented on #1483
Interesting. This came out of discussion surrounding PR https://github.com/gnuradio/gnuradio/pull/1477 and I wrote a quick block that set this value to 1024 and expected that work() would not get called for values less than this, however it does.

I may be misunderstanding what this does, but ultimately I was not able to get flowgraph behavior to change based on what this value was set to.

[2017-10-18 18:22] k6nick commented on #1210
I believe the socket should be closed only at the error code, not when the socket is returned without an error. Basically this:

      /* try to set MTU */
      if ((err = ioctl(sfd, SIOCSIFMTU, (void *) &ifr)) < 0)
        /* add this
           close(fd);
        */
        return err;

Simple enough fix, but I am not familiar at all with what's required to make this change. First time here, fi

[2017-10-18 20:09] k6nick commented on #1210
I made the fix and this is the pull request: https://github.com/k6nick/gnuradio/pull/1

I hope I didn't mess up anything, I'm just getting started with github.

[2017-10-24 19:52] sayboltm opened #1492 "FeatureSuggestion: Console/quick drop and search function"
Not sure if this is the right place to put this but wish I could hit Ctrl + space and a window would come up I can type the name of a flowgraph component and spawn it instead of having to search the trees for it

Also wish there was a search for when you don't know the exact name but also don't want to search the trees for it

Maybe if this sits here long enough, I'll take it on :)

[2017-10-24 21:34] mbr0wn commented on #1492
You can already hit Ctrl-F (or /) for filtering the tree, in case you hadn't seen that. Not to discourage you :)

[2017-10-25 18:29] courtarro opened #1494 "Modal dialogs in GRC may allow selecting the parent window, confusing users"
In different environments, the behavior of modal dialogs in GRC varies. In `xfce`, for instance, most dialogs are truly modal. In KDE, however, most (if not all) dialogs allow clicking the main window "behind" the dialog, which results in the dialog being hidden, yet the main window does not respond to any input. Instead, it is stalled waiting for the result of the dialog. In KDE Neon, a workaroun

[2017-10-26 03:03] nishithshah2211 commented on #1459
@marcusmueller Does this issue still need work? Some more info to identify such occurrences of `int` usage instead of `unsigned int` would also help.

[2017-10-26 03:08] nishithshah2211 commented on #1466
Hey! If the work hasn't been started on this issue or isn't progressing, I'd like to take it up.
Please confirm @lakshmanaram

[2017-10-28 14:07] mrjacobagilbert commented on #1483
@jmcorgan - is there anything else to do here? If my understanding of the effect this parameter should have on FG execution is incorrect, this issue can just be closed.

@777arc - did you look into this further at all, or can you make sense of what we saw vs Johnathan said above?

[2017-10-28 14:56] 777arc commented on #1483
Well, it looks like I was wrong about the parameter "not being used", Johnathan shows how it is used in gnuradio-runtime/lib/block_executor.cc (it's clear that it's involved somehow in the computation of noutput_items).  That being said, when I try set_min_noutput_items(10000) I still get the typical 4096 items coming out.  So either my minimal example is incorrect in some way, or there is a bug.

[2017-10-28 15:49] mrjacobagilbert commented on #1483
Likewise, I have tried set_min_noutput_items(1024) and work() gets called w/ 511 or 512 sometimes.

Its not limiting me either, and I can't think of a use for this that could not be addressed via forecast() anyway...but yeah, little odd.

[2017-10-29 05:06] giladbeeri commented on #1483
It is a problem for me. I do need to get a minimal amount of output items,
and at the moment I'm using set_output_multiple() for that.

On Sat, Oct 28, 2017 at 6:49 PM Jacob Gilbert <notifications@github.com>
wrote:

[2017-10-30 10:31] noc0lour opened #1501 "zeromq: any ZMQ source crashes on ARMv7/Ettus E310"
If I try to add any ZMQ source (REQ,SUB,PULL) I get this error accompanied with `Bus error` printed on stderr.

[code]
This is with the tip of `master`.
Any clues?

[2017-10-31 08:23] neilsh commented on #1466
looks like somebody has a PR fixing a handful of files: https://github.com/gnuradio/gnuradio/pull/1491

[2017-10-31 12:06] garengllc commented on #1184
Seems to be a problem in 3.7.12git-197-gbd611224 still.

[2017-10-31 16:54] noc0lour commented on #1492
:+1: for a full text search in descriptions etc

[2017-10-31 20:43] noc0lour commented on #1362
So this is still an issue? Or is the warning enough since GNU Radio can't do anything about truncated data?

[2017-10-31 20:56] LaughingCabbage commented on #1362
@noc0lour this shouldn't be an issue anymore. The warning should suffice.

[2017-10-31 20:59] noc0lour commented on #1317
So, time sink now support 24 Connections and enforces it.

[2017-10-31 20:59] #1317 closed

[2017-10-31 22:56] OfficialLucky opened #1505 "lellelelelelelelellsdjklsdj"

[2017-10-31 22:57] #1505 closed

[2017-11-01 00:01] noc0lour commented on #1337
@marcusmueller This is done, I guess?

[2017-11-01 00:01] #1337 closed

[2017-11-01 01:18] noc0lour opened #1507 "GR Host cleanup"
Cleanup current docker config on GR host.

- [ ] Monitoring for running services
- [ ] Reasonable Mail Infrastructure for Management purpuoses
- [ ] Docker/Service cleanup

[2017-11-01 11:13] marcusmueller commented on #1337
@noc0lour as far as I can see, yes, the fix has been merged into maint, which, I think, in the GNU Radio dev model, means it'll end up (or already has ended up) in master and next.

[2017-11-02 17:11] noc0lour commented on #953
Is there still interest in this feature? We could tag this as easy I'd say?

[2017-11-03 00:38] TriLoo opened #1508 "Can I use gnuradio on 32-bit Ubuntu14.04 ?"
Hi there,
   I want install uhd  @'release_003_010_001_001 ' & gnuradio @'3.7.12git' on my 32-bit 14.04 Ubuntu, however, I got a "Illegal Instruction" when i used 'from gnuradio import uhd'.

  Anyone had seen this problem and any advise? Thanks in advance.

[2017-11-03 16:36] giladbeeri opened #1510 "GRC Fails on Startup with a Memory Error"
Using a pybombs prefix installed under `/opt/gr/stable` (installed the `gnuradio-stable` recipe), Ubuntu 16.04. Fresh installation.

When running `gnuradio-companion` from the CLI, it crashes and gives the error (in console):

[code]

[2017-11-03 22:16] abaxi opened #1511 "Overlapping blocks and wires bug"
Often times when one adds a block to the flow graph in GRC, it'll go over a wire or under another block.

---When it goes over a wire, often times clicking on the block will select the wire underneath it, and move or disconnect it. The block on top should always be selected, not the obscured part of the wire.

---When it goes under existing blocks, it's just hard to find.

screen capture of block

[2017-11-05 20:35] broglek opened #1512 "gr-pager: FLEX implementation is missing BCH ECC"
The current implementation of the FLEX demodulator in gr-pager is missing the implementation of the BCH(31,21) error correcting code.  When using gr-pager to demodulate FLEX messages, the lack of ECC results in the occasional garbled message.

[2017-11-05 22:41] broglek commented on #1512
Fixed in https://github.com/gnuradio/gnuradio/pull/1513

[2017-11-06 11:08] noc0lour opened #1514 "core: implement domain based computation concept"
Currently there are some cross domain computation concepts out there (GPU, FPGA) and to some extend a remote domain computation concept (zmq).

Currently this is only handled in GRC for stitching it together graphically for some cross-domain concepts. This issue is to discuss implementation and then implement a PoC.

[2017-11-08 06:44] Vort opened #1516 "Choppy sound from Audio Sink"
Hello.

I want to hear simple pulsing waves with help of GNU Radio Companion.
But pressing Execute button produces distorted sound in my headphones.
However, produced .wav file sounds good.

Here is my block diagram:
![grc_blocks](https://user-images.githubusercontent.com/1242858/32534807-ec145358-c45f-11e7-8ae8-87a0a4c77ccf.png)

Related:
https://stackoverflow.com/questions/46797595/using-gnuradi

[2017-11-09 01:22] BrashEndeavours commented on #1516
Could the combined amplitudes be clipping? Try turning them down.

[2017-11-09 04:23] Vort commented on #1516
No, it does not helps.

[2017-11-10 05:35] mbr0wn commented on #1510
Not sure if calling this a memory error isn't a red herring. My gut still says abi mismatch.

[2017-11-10 05:37] mbr0wn commented on #1508
Can you comment on how you installed uhd and gnu radio? Also I don't think this is a gnu radio bug. Will close now, you or someone else can reopen if I'm wrong. Please ask on the uhd or gnu radio list for advice.

[2017-11-10 05:37] #1508 closed

[2017-11-10 05:47] mbr0wn commented on #953
Good idea. Would have been good for hacktoberfest...

[2017-11-10 13:49] natiya opened #1517 "recording IQ data (Question)"
Is there any function to record and export IQ data with GNU Radio? Thank you!

[2017-11-10 14:46] Olivier-ADLER commented on #1516
I had the same problem. Verified on two Intel PCs running Windows 7 fully updated. One with a dual core processor, the other with a six core intel I7 processor. The clicks did not come from the hardware audio, neither from the driver, because those two PCs internal audio hardware was working flawlessly with other softwares.

So after investigating, i think that something is broken or not correctly

[2017-11-10 14:54] Olivier-ADLER commented on #1516
I should add that i my case, if i did record to a wav file, the audio was perfect. This is the reason why i did suspect a synchronization problem, and did solve it forcing GNURadio to run at the right audio sample rate adding an audio source block connected to the audio sink block.

[2017-11-10 17:17] Olivier-ADLER opened #1518 "Filter Design Tool does not open on Windows 7 x64."
This tool does not open on Windows x64. Seems to be related to the graphic application only, because filters are working.

[2017-11-13 01:50] BrashEndeavours commented on #1517
File Sink - Complex

[2017-11-13 15:04] Ka-zam commented on #1518
It doesn't open on Ubuntu 17.04 x64 either

[2017-11-15 12:42] Brett99 opened #1520 "Variables not being recognized"
I have a simple flowchart here, and the `samp_rate` variable is not being recognized by the blocks.
![image](https://user-images.githubusercontent.com/8924477/32836606-3db696bc-c9bf-11e7-9f88-3cca6f35addd.png)
Am I doing something wrong, or is this a GRC bug?

[2017-11-15 12:46] Brett99 commented on #1520
I can get the blocks to recognize `samp_rate` by deleting it and manually adding it again.

[2017-11-15 12:53] Brett99 opened #1521 "NameError: name 'gr' is not defined"
I've installed gnuradio-companion on Arch, and I am having issues running nearly everything. I have connected a signal source to an audio sink, and when I try to compile it, I get this:

[code]

[2017-11-15 13:23] Brett99 commented on #1521
I created a new grc file with an identical flow chart, and it works for some reason. I now have two different files with identical flowcharts. One of them produces a working python file, and one does not. The only difference in the two files is that the working one includes these lines:

[code]
What could have happened to the first grc file to break it like this?

[2017-11-15 13:25] bastibl commented on #1520
The gray blocks are disabled. Enable them with the corresponding option in the menu bar or by pressing 'e'.

[2017-11-15 13:27] bastibl commented on #1521
I assume you disabled the top block. You can enable it with the corresponding option in the menu bar or by pressing 'e'.

[2017-11-15 13:34] Brett99 commented on #1521
Thank you bastibl, I must've pressed d by accident. I ended up figuring it out by looking at the diff between the two files.

[2017-11-15 13:34] #1521 closed

[2017-11-15 13:36] Brett99 commented on #1520
Wow, thanks. I've done this twice now. Perhaps there should be some kind of warning printed so new users like me have a more helpful error message when a block is disabled.

[2017-11-15 13:36] #1520 closed

[2017-11-15 14:17] Juanlu001 commented on #1153
I see #1467 and #1435. Can you share more information about this? These days [NumPy announced that they will drop Python 2 in 2019](https://github.com/numpy/numpy/blob/master/doc/neps/dropping-python2.7-proposal.rst).

[2017-11-15 22:26] mrjacobagilbert opened #1523 "eng_notation module / Parameter block: floating point parameters experience significant roundoff"
When using a Parameter block to pass a floating point value, the default value is formatted using `eng_notation.num_to_str()` which appears to limit the number of significant figures to 6. This can be problematic when (for example) using this for passing a non-default frequency. For frequencies in the GHz this can cause several kHz of error during roundoff.

The simple fix would be to remove the f

[2017-11-16 02:57] lshangguan opened #1524 "Eanble another gnuradio"
Hi all,

I installed two Gnuradio,
 1) gnuradio @3.7.11_4+docs+grc+jack+log4cpp+logging+portaudio+qtgui+sdl+swig+uhd+wavelet+wxgui+zeromq
 2) gnuradio @3.7.11_4+docs+grc+jack+log4cpp+logging+portaudio+qtgui+sdl+swig+uhd+wavelet+zeromq (active)

The second one is activated, my question is how to activate the first one instead? I'm using Mac OS.\

Thanks!

[2017-11-16 21:46] noc0lour commented on #1517
For simply storing data in a binary file a file sink will be the tool of choice. For more sophisticated storage with annotations there are several other alternatives to choose from.

[2017-11-16 21:46] #1517 closed

[2017-11-16 22:07] giladbeeri commented on #1510
How do I debug that?

[2017-11-17 04:20] shiyan430 opened #1526 "AttributeError: 'file_source_sptr' object has no attribute 'set_begin_tag'"
Hi! I have a grc that runs well with a USRP on laptop (Gnuradio version 3.7.12git-295-ga0adcd33) , but reported the following error on a Respray Pi 3 (Embedded Linux, Gnuradio version 3.7.10.2). I have installed all required modules. How should I fix it? I am using the USRP B200mini.

linux; GNU C++ version 6.3.0; Boost_106300; UHD_003.010.002.000-release

-- Loading firmware image: /usr/share/uhd

[2017-11-18 17:42] drmpeg commented on #1526
In your .grc file, delete these lines:

    <param>
      <key>begin_tag</key>
      <value>pmt.PMT_NIL</value>
    </param>

This is a new feature in 3.7.12 that's not backward compatible to 3.7.10.2.

[2017-11-22 17:11] nsbruce opened #1531 "Recommended install via PyBombs fails on macOS High Sierra"
# System versions
System version: macOS 10.13.1
Package manager: Homebrew (due to an OOT module needing PythonNet, macports can't be used)
Python version: Python 2.7.14

# How to recreate
After creating an installation prefix (step 4 of the quick-start):
[code]

# Output
[code]

# Attempted fix
[code]

[code]
[code]

Same error afterwards.

[2017-11-23 03:26] bighold opened #1532 "How to make QT GUI Entry module support Chinese？"
I make a change on qtgui_entry_xml. As bellow：

  `24 lambda: self.set_$(id)($(type.conv)(str(self._$(id)_line_edit.text().toLocal8Bit()))))`
![display](https://user-images.githubusercontent.com/32125232/33157956-f7117ff0-d040-11e7-9dbe-f9f51b28c5b4.png)

  Now I type in Chinese in the entry box of the Entry module. But after typing Enter, the Chinese in the input box will become garbled. But one

[2017-11-25 14:09] intra-au commented on #1083
@n-west @jmcorgan can you please point me to the example using filter blocks and a constellation mod/demod pair (migration path from mpsk_receiver_cc if you will?)

[2017-12-02 18:07] kantooon opened #1533 "Qt graphical sink resizing issue"
Hello,

I am developing a SDR transceiver entirely based on GNUradio ( https://github.com/kantooon/qradiolink ), and I'm facing the following issue with the Qt graphical interface:  the spectrum FFT display widget is not dimensioned correctly according to what I request in my code, having a smaller size than the container widget. If I switch to the waterfall tab of the sink and back, the FFT displ

[2017-12-03 16:57] Ka-zam opened #1534 "WAV file sink only supports 8 and 16 bit data"
This feels a bit unsatisfactory. I have an implementation ready that supports 8,16, 24, and 32 bit integer format as well as 32-bit floating point. Floats may be clamped to [-1,1].

I also noticed there were some subtle bugs in the float->int conversion. These are fixed but at the expense of a move from int to double conversion constants. In my opinion it's better to know things are right rather t

[2017-12-06 21:52] kantooon commented on #1533
Not a bug. Closing.

[2017-12-06 21:52] #1533 closed

[2017-12-11 11:32] dernasherbrezon opened #1536 "Q: why timer used for fft decimation"
Hi!

I found this in the source code:
https://github.com/gnuradio/gnuradio/blob/master/gr-qtgui/lib/waterfall_sink_f_impl.cc#L541

Is it a correct way for throttling/decimating fft?

I would expect skip samples based on sampleRate and update_time ( https://github.com/gnuradio/gnuradio/blob/master/gr-qtgui/lib/waterfall_sink_f_impl.cc#L177 )

[2017-12-15 22:20] Alhamzi opened #1538 "gnuradio version 3.7.11.1 Installation"
Hallo
 I have a basic question. I am a beginner with GNURadio and I want to work on version 3.7.11.1 but when I install it through pybombs I get the latest version 3.7.12. How can I install a specific version like 3.7.11.1
thanks in advance

[2017-12-16 21:55] Alhamzi opened #1539 "error: make test failed"
hallo
while building source file of GNU radio following error occurred during "make test"
98% tests passed, 5 tests failed out of 211

Total Test time (real) = 177.80 sec

The following tests FAILED:
	 85 - qa_polar_decoder_sc_systematic (Failed)
	 87 - qa_polar_decoder_sc_list (Failed)
	 89 - qa_polar_encoder_systematic (Failed)
	 90 - qa_polar_encoder (Failed)
	 92 - qa_polar_decoder_sc (Failed)

[2017-12-17 02:04] BrashEndeavours commented on #1538
Edit the PyBombs config in ~/.pybombs/config.yml and add specific package flags for gnuradio to point to a specific commit to build from.

packages:
    gnuradio:
        gitbranch: Whateverbranch
        gitrev: 012345abc

[2017-12-18 12:31] drmpeg commented on #1539
Most likely, you're missing scipy.

sudo apt-get install python-scipy

[2017-12-19 01:24] regulatre opened #1540 "What replaces blks2.tcp_source block?"
"Warning: the blks2.tcp_source block is deprecated"

But what replaces this functionality?

Any link to why it is being deprecated?

Thanks!

[2017-12-19 18:27] silidan opened #1541 "Memory Allocation Bug"
gnuradio fails to allocate memory of size 1048576 KB or larger.

gr::vmcircbuf_sysv_shm: shmget (1): Invalid argument
gr::vmcircbuf_sysv_shm: shmget (1): Invalid argument
gr::vmcircbuf_sysv_shm: shmget (1): Invalid argument
gr::buffer::allocate_buffer: failed to allocate buffer of size 1048576 KB
gr::vmcircbuf_sysv_shm: shmget (1): Invalid argument
gr::vmcircbuf_sysv_shm: shmget (1): Invalid argum

[2017-12-19 19:46] thasti commented on #1541
To add some information to this:

- The flowgraph tries to create a vector with 1024*1024*64 complex values, which will cause a gr::buffer allocation for 2^30 elements.
- gr::buffer implements this as a gr::vmcircbuf, with the size argument passed as an int (which is still okay so far).
- gr::vmcircbuf_sysv_shm will try to allocate a shared memory buffer (shmget) with int(2 * size + 2 * pagesize)

[2017-12-20 11:16] mgw93 opened #1542 "fastnoise_source uses non thread-safe rand() function"
The fast noise source block uses the rand() function to sample the precalculated values.
As rand() is not thread safe, this leads to non-reproducible behaviour.
Also, the specified seed value is not used with srand.
It might be better to use the random number functions in boost or in C++11.

To easily show this behaviour, connect two fast noise sources with the same seed to a subtract block and pl

[2017-12-21 17:47] mbr0wn commented on #1534
This sounds like two PRs? WAV source, and float->int conversion? In any case, yes please, we'd really appreciate that!

[2017-12-22 15:52] Ka-zam commented on #1534
Great, I'll submit a PR that implements theses changes for WAV source and sink. Just have to clean up and make sure I didn't leave any of my comments in there.

[2017-12-27 03:40] devnulling commented on #1501
Are you still running into this error? I cross compiled UHD 3.10.2.0 with the current GR master  - https://github.com/gnuradio/gnuradio/commit/a0adcd3347c7ffd6ef3c42ce7705a23978774d3b  using the release-4 SDK. The Sinks and Sources except for the PUB Sink worked as expected. I'm not seeing any error with the PUB Sink, there is just no data flow. I don't suspect the issue I'm seeing with the PUB Si

[2018-01-10 06:22] c0debreaker opened #1544 "Error on gr-trellis during make"
[code]

[2018-01-10 07:21] c0debreaker commented on #1544
I fixed it.

[2018-01-10 07:21] #1544 closed

[2018-01-10 07:23] c0debreaker opened #1545 "Scipy needed for make test; not checked for, hence inexplicable test failures"
The `make` was fine. Running `make test` failed on few items

Here is the output

[code]
What am I missing?

[2018-01-10 08:11] c0debreaker commented on #1545
I fixed it after installing scipy. :)

[2018-01-12 04:59] Mitchell1314 opened #1546 "sdrplay with gnuradio"
Can sdrplay RSP2 work with gnuradio? Can you give me some help about how i can do it?

[2018-01-12 11:23] willcode commented on #1546
Yes, I'm just about finished with better support for the SDRplay devices
in gr-osmosdr. You can try out the current state by pulling

https://github.com/willcode/gr-osmosdr

and checking out the "sdrplay2" branch.

This code is almost ready to be merged. There is also support through Soapy.

On 01/11/2018 11:59 PM, Mitchell1314 wrote:

[2018-01-12 11:30] willcode commented on #1546
Further instructions to help test this out:

install the latest SDRplay SDK (v2.11 15NOV2017)

git clone https://github.com/willcode/gr-osmosdr
cd gr-osmosdr
git checkout sdrplay2
mkdir build
cd build
cmake -DCMAKE_INSTALL_PREFIX=/tmp/test -DENABLE_NONFREE=yes ..

(make sure SDRplay shows up in the enabled list)

mkdir /tmp/test
make install
LD_LIBRARY_PATH=/tmp/test/lib64:$LD_LIBRARY_PATH gqrx

O

[2018-01-14 23:05] noc0lour opened #1548 "blocks: vector_sink reserve (min) data length in constructor"
In the `vector_sink` block data is allocated dynamically on every call. To improve performance a user could supply a minimum number of items he plans to stream into the vector sink, so memory is already allocated. Could improve speed during testing as well.

[2018-01-14 23:26] noc0lour commented on #1536
From what I see here the timer is not used to skip calculated values but to limit the update rate to the GUI. It will still display all calculated FFTs as long as the display_time variable is small enough and your PC can keep up with your hardware.

[2018-01-14 23:38] noc0lour commented on #1501
Just retested with the E310 and the issue is gone. Though the kernel/FS is different now.

[2018-01-14 23:38] #1501 closed

[2018-01-15 07:41] dernasherbrezon commented on #1536
Right, but in-between there is a call to fft. So I would expect d_qApplication->postEvent call based on current timestamp, but fft update based on sample rate.

[2018-01-16 23:29] willcode commented on #953
Submitted https://github.com/gnuradio/gnuradio/pull/1550 against next.

[2018-01-20 20:16] noc0lour opened #1553 "cmake: old self-maintained useSWIG?"
What's the justification for not using `useSWIG.cmake` from upstream cmake?
In a newly created OOT in encountered issues up to not being able to build with `ninja`. Removal of `useSwig.cmake` in `cmake/Modules` solved that.

[2018-01-20 21:11] noc0lour commented on #1553
OK, apparently copying the current `UseSWIG.cmake` to the OOT works out as well.
Using the upstream `UseSWIG.cmake` won't work for the GNU Radio tree though. Maybe we can upstream fixes?

[2018-01-21 12:51] willcode opened #1554 "Protect PFB Clock Sync from Bad Input"
Daniel Estévez reports a problem where unchecked bad input causes a stack overflow with difficult to debug results.

[2018-01-23 10:41] emozo opened #1555 "Problem with PyBombs and gnuradio"
Hello, I want to install gnuradio through the PyBOMBs, I am executing the follow comand and I have this problem, I need any suggestion about it, Thank you

erislandy@erislandy-VirtualBox:~$ pip install PyBOMBS
....
....
Successfully built PyBOMBS future
Installing collected packages: setuptools, certifi, chardet, idna, urllib3, requests, six, future, ruamel.ordereddict, ruamel.yaml, PyBOMBS
Succes

[2018-01-23 10:56] willcode commented on #1555
There are some initialization steps. Try

  pybombs prefix init /home/erislandy/prefix

On Tue, Jan 23, 2018 at 5:41 AM, emozo <notifications@github.com> wrote:

[2018-01-23 12:58] Yaoshicn opened #1556 "RTL-SDR ERROR: Port number 0 exceeds max of (none)"
Hi,

When I tried to run a simple flowchart (see screenshot below) with RTL-SDR dongle on Ubuntu 16.04 LTS, the program threw an error "what():  port number 0 exceeds max of (none)". The output is attached below for your kind perusal. I have checked with my installation of all dependencies and the udev permission. Would you please give me some help on this issue?

Thanks in advance.

[code]
![scre

[2018-01-23 15:02] emozo commented on #1555
Hello willcode thank you for your fast answer, I could install very well gnuradio, it was the solution. By I can install the master branch of gnuradio but I want to install the next branch of gnuradio, What can I do ?

[2018-01-23 15:45] willcode commented on #1555
Please close this issue - this is a help request, not a bug. As for using next, take a look at the recipe files.

[2018-01-23 16:06] emozo commented on #1555
Ok thank you

[2018-01-23 16:06] #1555 closed

[2018-01-25 00:46] openedwire opened #1557 "Issues with gnuradio 3.7.11 on kali 2017.3"
EDIT
I'm an idiot. Looked at the code and it looks like the "verbose error" I was getting is just a generic syntax error because I didn't use the command properly.

[2018-01-25 05:13] openedwire commented on #1557
Just to specify, that was using apt-get install gnuradio. I previously tried the PyBombs method with the same linux build and got:

configure: error: "Error: libcrypto required."

[2018-01-25 06:13] #1557 closed

[2018-01-27 15:24] marcusmueller opened #1559 "gr::random(unsigned int seed) <-> fastnoise_source(long seed)"
This is separate from #1542, and it's a 64bit-specific issue:

Whereas the gr::random() constructor only takes an int (which has sizeof==4 on x86_64), the fastnoise_source takes a long (which has sizeof==64 on x86_64), and directly passes that to the gr::random c'tor in its initializer list.

On 32 bit x86, sizeof int == sizeof long, so no problem there. But this makes the call inconsistent across

[2018-01-27 15:39] marcusmueller opened #1560 "fastnoise_source.sample_unbiased should be part of gr::random, not gr::fastnoise_source"
sample_unbiased is used nowhere within fastnoise_source itself, but only as library function from cfo_channel_model and sro_channel_model.

To get this really minimal function, they construct a full block, and use nada of it except this method, which consists of extracting a single bit out of a `rand()` call (not threadsafe!), and then multiplying it with `sample()` from gr::random. That alone poi

[2018-01-27 16:03] marcusmueller opened #1561 "gr::random::laplacian, ::rayleigh and ::impulse use `log` where they should use `logf`"
performance issue, essentially.

[2018-01-27 19:17] frestuc commented on #1362
Hi, the bug is still there. Still the sink does not dump every received byte...

[2018-01-27 19:35] noc0lour commented on #1362
So this might be expected behaviour if the total size of the file is not a multiple of your item size I think?

[2018-01-27 21:23] marcusmueller commented on #1559
This inherently is solved by #1562 .

[2018-01-27 22:42] marcusmueller commented on #1556
I'm afraid this isn't an issue with GNU Radio, but with librtlsdr or gr-osmosdr. I'll have to refer you to them.

[2018-01-27 22:43] marcusmueller commented on #1548
Idea: Make vector_sink have a "total number of items to store": Vector sink is in most cases used directly after a head block, and that's very a) annoying, b) a copying of perfectly fine samples and c) would be an excellent size to allocate first.

[2018-01-27 22:46] marcusmueller commented on #1546
Hi Mitchell,

as willcode very helpfully pointed out, this is an issue for the gr-osmosdr module.

Anyway, please understand that this is an *issue tracker*; you asked a question. This is not the right place to ask questions, please refer to out [mailing list](https://lists.gnu.org/mailman/listinfo/discuss-gnuradio), or our IRC channel (`#gnuradio` on freenode), or our slack channel (`#gnuradio` o

[2018-01-27 22:46] noc0lour commented on #1548
So, basically have a `num_items` ?

[2018-01-27 22:52] marcusmueller commented on #1540
I'd like to ask you to rename this issue to

As it's phrased now, it is a *question*, but this is a *bug tracker*, so that doesn't fit overly well here :) For future questions, please try our [mailing list](https://lists.gnu.org/mailman/listinfo/discuss-gnuradio).

Regarding as to why: It's a pile of bad code. Its constructor blocks until a connection is made, which is a big no-go in a real applic

[2018-01-27 22:53] marcusmueller commented on #1536
Hey, I'd hate to see this discussion go to waste, but:

This is a *bug tracker*, and you're discussing a *question*. This would be exquisitely well-suited for our  [mailing list](https://lists.gnu.org/mailman/listinfo/discuss-gnuradio)!

[2018-01-27 22:55] marcusmueller commented on #1524
It's sadly not clear what the bug/issue described here is. Please note that this is essentially a bug tracker, so you might much rather discuss this on [our mailing list](https://lists.gnu.org/mailman/listinfo/discuss-gnuradio).

[2018-01-27 23:25] #1556 closed

[2018-01-27 23:28] #1546 closed

[2018-01-27 23:31] #1524 closed

[2018-01-27 23:32] #1540 closed

[2018-01-29 11:42] noc0lour opened #1565 "cmake: cmake_c_flags are set wrong on next for ubuntu 14.04"
Apparently this:
[code]
has no effect on `Ubuntu 14.04` and leads to:
[code]

No idea what is happening there.... Maybe the `VERSION_LESS` with "3.1" isn't working and it has to be "3.1.0". But that's clearly a problem for cmake 2.8 people to solve.

[2018-01-29 11:45] noc0lour commented on #1565
Which is causing build failures because `M_SQRT2` is not defined in `c11` but in the non-standard compatible `gnu99/11` extension.

[2018-01-29 11:56] noc0lour commented on #1565
I was dumb:
This line is the offender:
[code]

Since commit 4ba906d03a6c06f43cfbd25cbd230f1d1a1e6c12 it's broken.

[2018-01-29 11:57] noc0lour commented on #1565
using `-std=gnu${CMAKE_C_STANDARD}` it should work.

[2018-01-29 21:05] frestuc commented on #1362
No, it's truncating a lot, like 50kBytes out of 380 kBytes. Also tried to directly dump via file write but still truncating...

[2018-01-29 21:40] noc0lour commented on #1362
Can you elaborate a bit? If I plug a file into my source and stream it will not read everything out of that file? Or if I stream into a file it will not write everything to file?

[2018-01-30 00:50] frestuc commented on #1362
Source and sink are byte-size items, so it should be fine right?
I am trying with tx_ofdm and rx_ofdm.py connected together.

[2018-01-30 01:01] frestuc commented on #1362
This is the input (small.mp4) and the output (small_out.mp4):
-rw-rw-r--  1 francesco francesco    383631 Jan 27 12:30 small.mp4
-rw-r--r--  1 francesco francesco    382560 Jan 29 19:59 small_out.mp4

[2018-01-30 01:01] frestuc commented on #1362
Obviously there is not bit error rate between OFDM txer and rxer

[2018-01-30 09:02] noc0lour commented on #1362
Obviously a complex flow graph like OFDM rx/tx isn't a viable test to pinpoint the issue to the file sink/source. I will hack something together and test sink/source back to back. Also the new unit tests do not indicate truncation issues.
I feel there might be data stuck in buffering in between.

[2018-01-30 11:40] willcode commented on #1362
Having an FFT in the flowgraph can drop N % FFT_SIZE samples.

[2018-01-30 12:51] frestuc commented on #1362
@willcode why so?
@noc0lour what do you mean by "stuck in between"?

[2018-01-30 13:14] LaughingCabbage commented on #1362
I was previously tracking this issue in #1392. The problem is not with the source/sink. This can be tested by linking the two directly. The issue lies in the packet decoder block. I was forced to move with other work, but the packet decoder would be my focus.

[2018-01-30 13:51] frestuc commented on #1362
@LaughingCabbage what OFDM block do you mean in particular?

[2018-01-30 13:55] willcode commented on #1362
@frestuc some blocks (e.g., FFT and packet-based ones) need a certain number of samples/bytes before they can output anything. An over-the-air receiver is constantly receiving samples, so you wouldn't have a problem with flushing, or at least not this problem. The TX side can sometimes cause problems if not all samples are flushed and the SDR stops transmitting. A better test would be to send the

[2018-01-30 20:02] juan0fran opened #1568 "[Socket PDU]: Socket connections not destroyed when closed by client"
Hi, in gr-blocks at socket_pdu_impl, it seams that no-socket is destroyed in TCP-Server mode when the connection is closed by the client. It can be easily seen by creating the Socket PDU and connect-close the socket with an external application. After 1128 (in my case) of connect-close actions, the socket pdu throws boost::system::system_error(error); with error code = 24, that is:

- asio::error:

[2018-01-30 21:53] willcode commented on #1568
At first glance, it looks like newly accepted connections are added to d_tcp_connections and there is no way for the reference to be released. I can take a look at it if the fix isn't obvious to someone else.

[2018-01-31 11:42] willcode commented on #1568
socket_pdu_impl keeps a list of (reference to) tcp_connections so it can broadcast on the send side. But, tcp_connection handles the recv side, and also knows when the connection closes. There is no way currently for socket_pdu_impl to know the connection has closed, so it maintains the reference, which keeps the tcp_connection destructor from getting called. I think it will take an API change to

[2018-01-31 15:09] diazm opened #1569 "WAV file sink append file option"
Hi, it is possible to add the append file option to wav file sink block?. It would be very useful feature.

 Regards.

[2018-02-01 06:29] mbr0wn commented on #1565
Wouldn't it make more sense to not use a non-standard value, and define `M_SQRT` ourself? More standard-compliant.

[2018-02-01 10:55] noc0lour commented on #1565
We can do that as well. I'm wondering why it works on newer cmake/gcc versions though. Are they defaulting to gnu11 if CMAKE_C_STANDARD is set to 11?

[2018-02-03 12:24] mbr0wn opened #1575 "Resolve: Add non-interned string PMT type 'pmt_string'"
https://github.com/gnuradio/gnuradio/pull/1448 had some great suggestions. The PR was closed, but we need to pull out the good ideas and turn into a new proposal, GREP, or whatever.

[2018-02-03 13:13] marcusmueller commented on #1523
So, as I just closed that PR

The problem is a very very valid one. I think we should be talking about how to flexibly do this! So, I could imagine having a precision parameter, or actually: Python is full of magic, and we might simply invent an operator that does what you need; imagine `1235657777.6776777777 % eng(precision)` to give you a string with given precision?

[2018-02-03 13:16] marcusmueller commented on #1523
I'm *assigning* this issue to you, which means I entrust you with finding a solution that fulfills the requirements of the project (sadly, your first one didn't do that well enough :( ). So, this is actually more responsibility with the same workload for you, hope you don't mind!

[2018-02-03 14:37] #1561 closed

[2018-02-03 14:44] emozo opened #1576 "Problem with next branch of gnuradio"
Hello, thank you for yor helping, but i have the follow problem. I have installed very well the Pybombs program and I want to install the next branch of the gnuradio ( have installed the master branch of gnuradio very well). For that reason I have configured the ~/.pybombs/config.yml file for taking the next branch like :

         recipes:
                    gr-recipes: git+https://github.com/gn

[2018-02-03 15:30] mrjacobagilbert commented on #1523
Marcus, I can appreciate your reasons for closing this.

I am proficient with making software tweaks, but in full disclosure I am an RF guy (and scared of most of python's magic...) and would likely not do well at attempting to implement your specific suggestion.

My other idea was to add an optional argument to the num_to_str(n) function like this:

```def num_to_str (n, precision=6)```

Which sh

[2018-02-03 15:49] mrjacobagilbert commented on #1523
Also, i think its worth pointing out that I am attempting to solve a symptom here, the real issue is probably that a 'human-readable' formatting function is being applied on data that is machine-processed downstream. But thats a larger discussion.

[2018-02-03 15:51] noc0lour commented on #1523
So one thing we can tackle on the way is converting this to `String.format()` syntax which should simplify using variables inside of curly braces in strings (and keeps code forward compatible `PEP 3101`).

Maybe there is some use in creating a custom formatter, something along the lines of https://tobywf.com/2015/12/custom-formatters/

[2018-02-03 16:06] mrjacobagilbert commented on #1523
Yes, ```String.format()``` is along the lines I was thinking. If that is acceptable I'll get a PR together.

[2018-02-03 19:27] mrjacobagilbert opened #1577 "Modtool add is broken: SequenceCompleter.__exit__ only takes 1 argument"
Not sure what happened, but b0912d31f1a2cfea93a5588898cae0c652cd89d4 broke `gr_modtool add`:

[code]

[2018-02-03 21:41] noc0lour commented on #1577
Looks like the signature for `__exit__` is wrong, it has to accept 3 arguments (+ self) to be called. https://docs.quantifiedcode.com/python-anti-patterns/correctness/exit_must_accept_three_arguments.html

[2018-02-04 13:15] techuss opened #1578 "Recored Splited Audio Files"
I want to build a project to record audio and/or IQ stream of PMR Walkie-talkie.
I use USRP N210 and build the flow graph as shown in picture:
https://ibb.co/i68vAc

It is work well, But all speech will recorded in the same file. I want to record a stand-alone call in one file. i.e: if there is a call, it recorded in new file. when call ended, then the file closed (new call in new file), and so on

[2018-02-04 13:28] mbr0wn commented on #1578
This is more of a question for the mailing list. Please direct your inquiries there.

[2018-02-04 13:28] #1578 closed

[2018-02-04 13:31] mbr0wn commented on #1576
The config file looks fine. Run PyBOMBS with `-vv` and see where it fails, and what it does.

Since this doesn't look like a bug with the actual GNU Radio codebase, I'm closing this, but please discuss it on the mailing list.

[2018-02-04 13:31] #1576 closed

[2018-02-04 13:32] mbr0wn commented on #1569
Sure, it's possible. Do you want to take a stab?

[2018-02-04 13:33] mbr0wn commented on #1568
@willcode does this get fixed by #1570?

[2018-02-04 13:34] mbr0wn commented on #1565
Yeah, they do (it even says so in the manual). Why they would do that is beyond me. We might have to always set the C flags, and not rely on `CMAKE_C_STANDARD`.

[2018-02-04 13:39] mbr0wn commented on #1538
@BrashEndeavours thanks for answering this! @Alhamzi the issue tracker is for tracking bugs and issues with the GNU Radio code base, so please direct such questions to the mailing list.

[2018-02-04 13:39] #1538 closed

[2018-02-04 13:40] dkozel opened #1579 "Hardware Impairment Block adds phase noise regardless of configuration"
The Hardware Impairment block adds a lot of phase noise to the signal regardless of the Phase Noise value being set to 0.

Blue is the input signal, Red is the output of the HW impairments block.

![hw-impairments](https://user-images.githubusercontent.com/253888/35778013-3079d598-09b8-11e8-8853-d22317a7f979.png)

[2018-02-04 13:46] mbr0wn commented on #1536
Since the FFT sink is a sink, it has no obligation to process all samples. The current approach makes sense; it is a different approach from tools like fosphor though. Maybe this is a documentation issue, but the the point is that we set the update rate in order to throttle CPU utilization; any samples that aren't strictly necessary don't need to be processed can be dropped.

The ambiguity is in "

[2018-02-04 13:46] #1536 closed

[2018-02-04 13:48] #1474 closed

[2018-02-04 14:23] noc0lour commented on #1261
So, people have a hard time packaging GNU Radio with flaky and broken tests. Ideally we fix the underlying issues (or the flakiness of the tests if it's a test issue). Other ideas? I thought about removing the "real" flaky tests und replace them with non-flaky ones.

[2018-02-04 14:29] noc0lour commented on #1565
Hm, ok sucks, then we definitely have to throw out `M_*` defines and replace them with our own. Nothing else is affected I think.

[2018-02-04 15:07] willcode commented on #1568
Yes - the pull was a response to this issue.

On 02/04/2018 08:33 AM, Martin Braun wrote:

[2018-02-04 15:12] marcusmueller commented on #1577
Since that's my fault, I'll fix this

[2018-02-04 15:21] marcusmueller commented on #1577
By the way, interestingly, this always works for me! So, while @noc0lour is absolutely right and I neglected to accept the three exception describing arguments, this should actually only be an issue if there's an exception raised in the `with` block.

So, I'll patch the `__exit__` method, but chances are, something else is still broken.

[2018-02-05 09:29] dkozel commented on #1579
Theory from last night, the setting of "0" on the phase noise is 0 dBc.

[2018-02-05 11:10] #1577 closed

[2018-02-05 11:11] marcusmueller commented on #1577
@mrjacobagilbert I've fixed the immediate issue (thanks, @noc0lour for pointing out my mistake!), but I don't believe that was the original cause for the problem. So, if you could try again with the fix I just merged into master, that'd be very appreciated.

[2018-02-05 12:37] noc0lour commented on #1579
Does it make sense to give the value in `dB` and not in linear scale?

[2018-02-05 12:39] mrjacobagilbert commented on #1577
5473d529f69810bbb8f275779a188b47bdbd2002 solves the issue I observed.

[2018-02-05 12:41] noc0lour opened #1580 "modtool: add tests"
Having tests creating/deleting a module would be great to test if code runs (and we can even expect a "known good" result).

[2018-02-05 15:02] noc0lour commented on #1565
So, trying to fix this by adding required `#define`s in `<gnuradio/math.h>` results in the C files in `viterbi/metrics.c` to fail compilation (since `gnuradio/math.h` is a c++ header). Either I define them on place (which sucks for future use in other places) or we could them transform them into valid `C++` and use the `<gnuradio/math.h>` header to do definitions.

[2018-02-05 15:22] noc0lour commented on #1209
Actually the code in [decode_ccsds_27_fb_impl.cc:46](https://github.com/gnuradio/gnuradio/blob/da0a102e9b076db83fe5a63b3730ac39b588eb92/gr-fec/lib/decode_ccsds_27_fb_impl.cc#L46) looks like it converts the value to linear scale before passing it to `gen_met` and then `gen_met` again converts the linear value to linear scale, which doesn't sound right, so I'd consider this a bug in the ccsds code.

[2018-02-05 17:50] mbr0wn commented on #1577
Might be broken on next then too.

[2018-02-05 19:04] dernasherbrezon commented on #1536
Thank you Martin!

PS: I will raise question next time on stackoverflow.

[2018-02-06 01:17] mrjacobagilbert commented on #1577
Ok... gr_modtool rm is broken also...

[code]

[2018-02-06 01:27] noc0lour commented on #1577
That one needs a smarter complete function to take existing block names into account, or just no complete function.

[2018-02-06 08:17] giladbeeri opened #1583 "Python block should be able to accept a variable number of input ports"
C++ blocks can accept a variable input of ports when passing -1 as the maximum number of ports.
Python blocks don't seem to have this ability due to the way gateway_block() works.

[2018-02-06 09:03] marcusmueller opened #1584 "gr-fec: clarify why there's an `int main()` in decode.cc and encode.cc; need for `erf` under MSVC?"
... if they serve testing purposes: move to qa_something.cc

If they serve no purpose: move to /dev/null

[2018-02-06 17:42] marcusmueller opened #1585 "objective_fct.c and whatever is not needed from the gen_interpolator_taps directory should be removed"
@awalls-cx18 pointed out there might be licensing problems surrounding that code.

[2018-02-06 17:48] marcusmueller opened #1586 "Check origin/licenses on *all* files that don't have a "this file is part of GNU Radio" header, or replace"
#1585 demonstrates this might be a good idea. Things to check (please edit this and add if you find more. I will not close this issue before we know the origin of all files we use):

- [ ] gr::random : box-muller (candidate for source: numerical recipes v3)
- [ ] gr::filter : tap generators (see above | @awalls-cx18 already took care of this)
- [ ]

[2018-02-06 17:55] marcusmueller commented on #1586
Full list of files to check, because they don't contain the "This file is part of GNU Radio" string:

- [ ] cmake/msvc/config.h
- [ ] cmake/msvc/sys/time.h
- [ ] cmake/msvc/unistd.h
- [ ] docs/doxygen/other/shared_ptr_docstub.h
- [ ] docs/doxygen/other/vector_docstub.h
- [ ] gnuradio-runtime/include/gnuradio/thread/thread_group.h
- [ ] gnuradio-runtime/lib/complex_vec_test.cc
- [ ] gnuradio-runtim

[2018-02-06 17:57] marcusmueller opened #1587 "gr-newmod: Should not contain "This file is part of GNU Radio""
Instead, something like @awalls-cx18 does: "This file was generated by gr_modtool, a tool from the GNU Radio framework", or so.

[2018-02-06 18:21] marcusmueller opened #1588 "pm_remez.cc: VOLKize"
Pretty sure that in

	for(i=0; i<k; i++) {
	  D[j] = des[2*band] + i*(des[2*band+1]-des[2*band])/(k-1);
	  W[j] = weight[band];
	  Grid[j] = lowf;
	  lowf += delf;
	  j++;
	}

* `j` should be `i` (why?)
* `D[j] =` nicely vectorizes,
* `W[j] = weight[band]` nicely vectorizes, as band is static to the loop,
* same goes for `Grid[j] = lowf; lowf +=delf`, which is really just a way of saying `Grid[j]

[2018-02-06 18:26] marcusmueller opened #1589 "clean up gr-utils/octave"
does anyone need a function called `runsum`, for example? Is it used in the codebase, anywhere?

[2018-02-06 18:36] marcusmueller opened #1590 "Clarify why we're shipping libgsm"
Would actually do very well as optional dependency, as far as I can tell now. Also, libgsm is very common in distros, so unless we modified it, we probably shouldn't be shipping our own version.

[2018-02-06 18:45] marcusmueller commented on #1590
As Mait just told me: Gone on next already. Closing.

[2018-02-06 18:45] #1590 closed

[2018-02-06 18:51] marcusmueller commented on #1586
Same as above, but for python files:

- [x] [docs/doxygen/doxyxml/generated/__init__.py](https://github.com/gnuradio/gnuradio/blob/master/docs/doxygen/doxyxml/generated/__init__.py)
- [x] [docs/doxygen/doxyxml/generated/compound.py](https://github.com/gnuradio/gnuradio/blob/master/docs/doxygen/doxyxml/generated/compound.py)
- [x] [docs/doxygen/doxyxml/generated/index.py](https://github.com/gnuradi

[2018-02-06 18:55] mrjacobagilbert commented on #1577
@marcusmueller - do you want me to open a separate issue for this?

[2018-02-06 18:56] marcusmueller opened #1591 "cleanup gru Python module"
I'm generally not a big fan of "misc" namespaces, and I'm pretty sure that there's a few things in there that no-one uses.

Notice that formally, `gnuradio.gru` is external API, but honestly... There's so little in there that was ever meant to be API that I don't think we'd break anything external if we deleted that whole module today.

Obviously, low prio.

[2018-02-06 19:08] guruofquality commented on #1586
cmake/msvc/sys/time.h @guruofquality
cmake/msvc/unistd.h @guruofquality do you remember where these files are from?

* cmake/msvc/config.h: I made this one for gnuradio. We can delete all of the `#if _MSC_VER < 1800` at this point. That would make it a lot smaller

* cmake/msvc/sys/time.h: Its from a microsoft forum (like https://social.msdn.microsoft.com/Forums/vstudio/en-US/430449b3-f6dd-4e18-84

[2018-02-06 19:36] Lidoro opened #1592 "RTL-SDR Error : No supported tuner found"
Hello,

I try to install rtl-sdr and gnuradio on my computer, on Linux mint 18.1 cinnamon 3.2.7 64 bits.
the installation is going well but when I try to execute rtl_test :

Found 1 device(s):
  0:  Realtek, RTL2838UHIDIR, SN: 00000001

Using device 0: Generic RTL2832U OEM
No supported tuner found
Enabled direct sampling mode, input 1
Supported gain values (1): 0.0
Sampling at 2048000 S/s.

I try

[2018-02-06 19:39] marcusmueller opened #1593 "cmake/msvc/config.h: delete all of `#if _MSC_VER < 1800`"
due to versioning, these versions are impossible today (thanks @guruofquality for mentioning this in #1586!).

From http://mariusbancila.ro/blog/2015/08/12/version-history-of-vc-mfc-and-atl/ : 1800 corresponds to Visual Studio 2013

[2018-02-06 19:46] awalls-cx18 commented on #1585
Technically simpson.[ch] needs to be removed.  objective_fct.c can stay, but it won't work until it is ported to use numerical integration routines from the GSL library.

I recall looking at praxis.f and thinking it was OK.  Someone should take another look at it and the associated README file.

[2018-02-06 19:47] marcusmueller commented on #1586
For now, I'll say that as a quickfix, we'll just declare `msvc/unistd.h` as "not a problem", as it arguably contains any significant code, and can easily be GPL'ed & assigned to FSF now that we know it's yours; generally, I agree: we should be looking into the `unistd.h` usage globally - if it's really just the same as `process.h` wherever it's included on windows, I wonder whether we're using cor

[2018-02-06 19:56] noc0lour commented on #1587
We could add a `This file is part of $module_name` as a convenience function. Since this is probably the case if people add blocks with `gr_modtool`.

[2018-02-06 19:59] marcusmueller commented on #1593
Oh, and config.h without any MSC_VER < 1800 basically only contains non-threadsafe libc (s)random(), which we need to get rid of, in any case, and ssize_t seems to be declared in other headers, specifically BaseTsd.h. With that, config.h boils down to

 #include <BaseTsd>
 #ifndef __cplusplus
 #  define inline __inline
 #endif
which is much easier on the eye.

[2018-02-06 20:03] marcusmueller opened #1594 "get rid of `gettimeofday` implementation"
... we don't need that anywhere. Also, @guruofquality on #1586 indicates there might be license trouble around that code (even if Apache Thrift [uses](https://github.com/apache/thrift/blob/master/lib/cpp/src/thrift/windows/GetTimeOfDay.cpp) the very same code and didn't mention the [original source](https://social.msdn.microsoft.com/Forums/vstudio/en-US/430449b3-f6dd-4e18-84de-eebd26a8d668/gettime

[2018-02-07 00:25] willcode commented on #1583
Since you can make up any signature you want when you create a Python block, e.g.,

g=gr.gateway.basic_block("test", [float,float],[float])

what is it that you're unable to do? If you create a class the derives from gateway.basic_block, it can set the number of inputs when the block is instantiated.

[2018-02-07 04:35] giladbeeri commented on #1583
Exactly

[2018-02-07 12:23] willcode commented on #1583
@giladbeeri are you saying that the existing gateway does what you need?

[2018-02-07 14:55] giladbeeri commented on #1583
No, I agree with your analysis of gateway.py. The problem is that it accepts a list, and maps the list to numpy.dtype `sig_to_dtype_sig()`, and later `sig_to_gr_io_sigv()` uses `len(sig)` as to declare the maximum number of ports when calling `io_signaturev()`.

In C++ blocks, the API allows me passing -1 as the number of ports, which is used in ports like add and max (a variable number of input p

[2018-02-07 15:16] willcode commented on #1583
@giladbeeri you closed the issue, so I was wondering if you were all set. I think you can reopen it if you want. My thought was that __init__ would accept either a list of types as it does now, or io_signature as arguments, to keep backward compatibility. The -1 would be in the io_signature. The trick is in figuring out whether the optimizations in gateway.py will be affected. Where io_signature i

[2018-02-07 15:41] giladbeeri commented on #1583
by mistake :)

Your solutions sounds like a good fit.

[2018-02-08 10:04] #1407 closed

[2018-02-08 10:35] noc0lour opened #1598 "pmt: len_y, len_x: unitialized use"
In [pmt.cc#L1133](https://github.com/gnuradio/gnuradio/blob/da0a102e9b076db83fe5a63b3730ac39b588eb92/gnuradio-runtime/lib/pmt/pmt.cc#L1133) the comparison of vectors is most likely false since uninitialized memory is used to compare them.

This breaks the fix in #1597, Initializing with `length()` or not using this helper variable at all would help.

[2018-02-08 10:38] noc0lour commented on #1598
Ok, wait this is even better, maybe not even a bug. The variables are initalized inside `uniform_elements`.

[2018-02-08 10:43] marcusmueller opened #1599 "Get rid of all the `fprintf(stderr`, replace with logging"
Same goes for `cerr`, and also `stdout`/`cout`, but I consider the error cases the most important (because these are things that almost certainly should end up in logs).

[2018-02-08 10:48] noc0lour commented on #1598
Quick test revealed `len_x` and `len_y` have the correct value after `memcmp` but probably are still undefined during `memcmp`.

[2018-02-08 11:04] marcusmueller opened #1600 "tunnel.py: planned obsolescence"
Old users will remember how much fun we've had supporting `tunnel.py`. It's much, much better now, but:

tunnel.py still uses the now deprecated python packetizers, it's got hard-coded UHD transmit chain but doesn't use any of the packet-friendly gr-uhd features, it's still using OptionParser (and #947 points out there's an option handling bug), no-one would advocate its usage over the gr-digital

[2018-02-08 11:38] marcusmueller commented on #1536
@daniestevez this is a very GNU Radio-implementation specific question, and stackoverflow isn't the optimal place. In spite of the danger of repeating myself: the mailing list is your friend :)

Generally, we're not opposed to discussing GNU Radio-related things on SO, but really, if it's about "why was this thing done like that internally", better talk to the developer community on their platform

[2018-02-08 11:42] marcusmueller commented on #1577
@mrjacobagilbert yes, please.

[2018-02-08 11:43] marcusmueller commented on #1587
Indeed, that would be a great thing to do!

[2018-02-08 14:34] marcusmueller commented on #1593
Discussion shows we should support VS prior to 2015, which has `MSC_VER==1900`.

[2018-02-08 14:37] marcusmueller commented on #1593
Update regarding needs:

`gnuradio-runtime/include/gnuradio/attributes.h` already defines `inline` for MSVC. Very questionable we need this file at all, if all it does is `#include <BaseTsd>` for the three or four places where we use `ssize_t`.

[2018-02-08 19:26] mrjacobagilbert opened #1602 "gr_modtool: remove is broken"
Related to Issue #1577 `gr_modtool rm` was broken by b0912d31f1a2cfea93a5588898cae0c652cd89d4...

[code]

[2018-02-08 23:19] marcusmueller commented on #1602
oooooh shoot. I've had that code in a feature branch going of that feature branch … hope I didn't gc my git repo yet (otherwise I'll have to reimplement). There should be a list of existing blocks there!

[2018-02-08 23:53] marcusmueller opened #1604 "gr_modtool rm: precompile sensible list of candidates for autocompletion"
Now that we have readline completion on that interactive tool, let's use it. (Idea came from #1602)

[2018-02-09 00:04] #1602 closed

[2018-02-11 08:47] lleoha opened #1607 "Soft bit calculation of constellation is not AWGN based?"
More of a question than issue but I don't understand why in method `constellation::calc_soft_dec` we have
`        // Calculate the distance between the sample and the current`
`        // constellation point.`
`        float dist = std::abs(sample - d_constellation[i]);`
`        // Calculate the probability factor from the distance and`
`        // the scaled noise power.`
`        float d = exp

[2018-02-11 14:25] mrjacobagilbert opened #1608 "gr_logger: OOT modules do not generate log messages"
I am in the process of changing std::cout messages in an OOT I maintain to use the GR_LOG API and cannot get any log message output. In-tree logger messages print [as described](https://gnuradio.org/doc/doxygen/page_logger.html) when configured to use stdout and stderr or file based logging, but nothing in the OOT will print.

It's entirely possible I am not using this properly; I am assuming d_lo

[2018-02-11 15:00] marcusmueller commented on #1607
For reference:

https://github.com/gnuradio/gnuradio/blob/v3.7.11/gr-digital/lib/constellation.cc#L282-L310

What difference would that make?

What's done with `d` is

[code]
Now, I haven't actually done the math on this all the way down to where the LLRs are used, but:

isn't the whole LLR business possible because the logarithm is a strictly monotonic thing on anything that could be a sum of pro

[2018-02-11 15:02] marcusmueller commented on #1598
Exactly.

[2018-02-11 15:03] marcusmueller commented on #1583
um, can you link to that solution? I'm a little confused here :)

[2018-02-11 15:05] marcusmueller commented on #1592
Lidoro, hi!

This is a bug tracker, and not a help forum; I'll hence have to close your issue. Also, this is not a GNU Radio issue, but if anything a versioning issue of your rtl-sdr.

You might need to uninstall the librtlsdr you've got from mint, and build librtlsdr as well as gr-osmosdr from source. Please do not follow up here, but use the RTL-SDR specific mailing ists.

[2018-02-11 15:05] #1592 closed

[2018-02-11 15:08] marcusmueller commented on #1565
Notice that we won't be supporting Ubuntu 14.04 on next. Should we be closing this issue?

[2018-02-11 15:08] marcusmueller commented on #1568
In that case, closing this issue as fixed by #1570.

[2018-02-11 15:08] #1568 closed

[2018-02-11 15:11] marcusmueller commented on #1261
We can't make tests that actually demonstrate a bug pass just so that people can package stuff. There *are* bugs in GNU Radio, *even in packaged versions*.

What we *can* do is make the tests we know fail non-fatal. But I really don't know whether that helps anyone – I'd actually like to ask Mait about what's to do from a debian perspective about failing `make test`.

[2018-02-11 15:14] marcusmueller commented on #1474
This is a general reminder:

The original question reads as if it is not a *bug report*. Notice that this is a *bug tracker*. The [discuss-gnuradio mailing list](https://lists.gnu.org/mailman/listinfo/discuss-gnuradio) is the proper place to discuss approaches to solving complex problems.

I'm really happy about every bug being reported here, even if it not turns out to be a bug. I just get this f

[2018-02-11 15:19] willcode commented on #1583
"solution" == "idea of how it might work". Might get to work on this today.

[2018-02-11 15:26] noc0lour commented on #1598
The commit should have closed this?

[2018-02-11 15:26] #1598 closed

[2018-02-11 15:32] noc0lour commented on #1261
There is a three types of test:
 - 1. fails consistently if there is a bug in the implementation -> good test
 - 2. fails unpredictably -> worthless
 - 3. Test has a bug and fails unpredictably -> bug in the test

Separating the last two and rewriting the 2. from scratch and fixing the 3. would be the way to go. Thus I collect these tests here.

[2018-02-11 15:34] marcusmueller commented on #1576
This is a general reminder:

The original question reads as if it is not a *bug report about GNU Radio itself*. Notice that this is a *bug tracker*. The [discuss-gnuradio mailing list](https://lists.gnu.org/mailman/listinfo/discuss-gnuradio) is the proper place to discuss approaches to solving complex problems.

I'm really happy about every bug being reported here, even if it not turns out to be a

[2018-02-11 15:36] marcusmueller commented on #1523
Closing this issue as you've sorted it out in #1595. :tada:

[2018-02-11 15:36] #1523 closed

[2018-02-11 17:16] marcusmueller opened #1610 "gr-pager/lib/util.cc: reverse_bits8 questionably efficient method to reverse bits"
... cites an MIT article from 1972. To little surprise, x86_64 and ARM don't really do "modulus" fast (on x86, modulus is actually a side effect of `idiv`, which can take what, 20 to 30 cycles on Haswell), but are quick at bit shuffling logic. So: this code:

        return (val * 0x0202020202ULL & 0x010884422010ULL) % 1023;

is the result of premature optimization. What GCC with any significant o

[2018-02-11 17:20] marcusmueller commented on #1554
Hm, as much as I like the idea of sanitizing inputs: do we *really* need to be save against NaNs anywhere? The real issue here is imho that the AGC used *generates* "unphysical" values out of physically viable ones.

[2018-02-11 17:21] marcusmueller commented on #1553
@noc0lour any chance of a diff of upstream vs ours?

[2018-02-11 17:23] marcusmueller commented on #1553
Also, do we agree that if we can count on a working `useSWIG.cmake` being part of the GNU Radio development headers one needs to have installed, anyway, can't we then just drop the `useSWIG.cmake` from gr-newmod? I'd consider a cruft-free OOT template a feature.

[2018-02-11 17:23] daniestevez commented on #1554
While in this particular case with the AGC, I agree with @marcusmueller, NaNs might make sense in some special contexts. For instance, an IQ recording where some of the samples have been "lost" and replaced by NaNs.

The real question is how much of the existing GNU Radio stuff would break in this case and whether it makes any sense to defend from NaNs, since they would only happen in very special

[2018-02-11 17:25] marcusmueller commented on #1544
Hi @c0debreaker, what does "I fixed it" mean? Does it mean you broke something on your own system and reverted that, or does it mean you found a fix for a problem with GNU Radio itself that you could share?

[2018-02-11 17:26] marcusmueller commented on #1545
Changing title, reopening: this is actually an issue, and unless you submitted a pull request with a fix for that issue (namely, need for scipy not tracked for `make test`), it shouldn't be closed.

[2018-02-11 17:28] marcusmueller commented on #953
Closing since #1550 was manually merged.

[2018-02-11 17:28] #953 closed

[2018-02-11 17:38] marcusmueller commented on #1554
There's much truth in your comment, @daniestevez. The segfault is in any case unacceptable, indeed.

Your question "how much other GR stuff breaks if someone feeds in NaN" touches a larger topic:

Now, you and me and @mbr0wn would all see that feeding in NaN to things like DFTs would invalidate all the data, and would appropriately sanitize before if foreseeable (and I'd argue that should ideally

[2018-02-11 17:39] noc0lour commented on #1545
Replacing scipy with something else already present would be a viable solution imho.

[2018-02-11 17:42] noc0lour commented on #1553
Installing our own `useSWIG.cmake` will break things for package manager, so please don't do that. We can indeed install our `Gr*.cmake` Modules in `/usr/share/cmake/Modules` and stop shipping (old) versions of those in `gr_modtool`.

[2018-02-11 17:54] marcusmueller commented on #1553
sorry, was ambiguous: What I meant is that if we can rely on GNU Radio-supplied CMake infra to either use a working system-installed useSWIG or supply the same code (in a non-conflicting way), then we shouldn't put any code that's in a GNU Radio installation into an OOT.

[2018-02-11 17:58] marcusmueller commented on #1545
I'd argue that if someone builds GNU Radio, then having scipy as *build-time* dependency (just like CMake, SWIG, …) really isn't much of a burden. Packaging systems track these separately from run-time deps, anyway.

The question is whether it should be a run-time dependency, too, is a different one. None of our `gr_plot_**` tools work without, nor does `gr_filter_design`, and a lot of the gr-digi

[2018-02-11 18:00] marcusmueller opened #1611 "Identify avoidable use of scipy at runtime"
#1545 pointed out that there's scipy used at test-time, but there's also a lot of scipy used in run-time tools and examples that we deliver. (`gr_plot_*`, filter design tool, a lot of the digital, dtv and filter examples, and more).

In many cases, it's a matter of getting `fftpack`, which is a) part of numpy and b) could probably be replaced with our very own `gr::fft` code.

We should identify t

[2018-02-11 18:10] noc0lour commented on #1553
Yes, I always wondered why we are not supplying `Gr*` cmake Modules and instead duplicate it for every Module...

[2018-02-11 18:14] noc0lour commented on #1553
Diff between our `next` and CMake 3.9.6 supplied `UseSwig.cmake`

https://gist.github.com/noc0lour/3900b7563969c985ea59071e7d3f1a37

[2018-02-11 18:15] marcusmueller commented on #1553
Me too. Probably the fear back then<sup>TM</sup> was that we might retroactively break OOTs when updating our CMake-Foo. My fear now is that we can't update an OOT's CMake Scripts, since they are bundled.

[2018-02-11 18:16] marcusmueller commented on #1553
ugh. that diff isn't as singular as I hoped it'd be. Would you share my assessment that it's probably better to make GR work with the upstream useSWIG than to ship this code (even if in module of a different name)?

[2018-02-11 18:19] noc0lour commented on #1553
Need to check for the full range of `cmake` we want to support in `next` and then fix it there.

[2018-02-11 18:20] noc0lour commented on #1553
Originally (in 2014) the custom cmake was imported because: `cmake: use custom UseSWIG.cmake to fix parallel build issue`. So need to figure out if that's still the case or if this is fixed upstream for all required versions)

[2018-02-11 18:24] marcusmueller commented on #1553
Even if it's not, then we've got some upstreaming to do :)

[2018-02-11 18:47] noc0lour commented on #1553
But still have to ship ours until it's fixed in every `cmake` version we want to support (:

[2018-02-12 02:17] willcode commented on #1583
@giladbeeri please give this a try: https://github.com/gnuradio/gnuradio/pull/1612/files

[2018-02-12 14:49] gmg2719 opened #1613 "attach issue, it seems srsenb cannot connect to MME(attach request cannot be received by MME), please help me"
epc.log shows below:

---  Software Radio Systems EPC log ---

22:36:19.507701 [HSS ] [I] Opened DB file: user_db.csv
22:36:19.507898 [HSS ] [D] Added user from DB, IMSI: 001010123456780
22:36:19.507950 [HSS ] [D] User Key :
             0000: 00 11 22 33 44 55 66 77 88 99 aa bb cc dd ee aa
22:36:19.508026 [HSS ] [D] User OP :
             0000: 63 bf a5 0e e6 52 33 65 ff 14 c1 f4 5f 88 73 7d
22:3

[2018-02-12 16:27] mrjacobagilbert commented on #1608
I did a bit more exploring, and I am pretty sure these GR_LOG_* messages are skipped entirely (not compiled?). Putting nonsense in there, or things like divide by zeros compile and run fine (except no log output):

[code]

[2018-02-12 16:44] marcusmueller commented on #1613
This is by no means a GNU Radio issue, but probably something you want to raise with SRS; not quite sure how you ended up here.

Sadly, this means that you're in the wrong place to report this; closing this issue.

[2018-02-12 16:44] #1613 closed

[2018-02-12 20:08] noc0lour commented on #1608
So, did you try calling first:
`GR_LOG_DECLARE_LOGPTR(d_logger)`
`GR_ASSIGN_LOGPTR(d_logger, myname)`
`GR_LOG_INFO(d_logger, "my_msg")`

To shorten this process you could probably use `GR_INFO(myname, "msg")` macro.

[2018-02-13 03:41] mrjacobagilbert commented on #1608
Ok...figured it out; thanks for the suggestions they helped with the thought process.

It was necessary to do several CMake related things in order to get the right flags everywhere to build with logger/liblog4cpp (before the macros were effectively doing nothing as shown in the logger.h file):

- include the GrMiscUtils CMake module
- call the GR_LOGGER() macro in above module in CMakeLists.txt
-

[2018-02-13 15:37] marcusmueller commented on #1608
as a maintainer: yes, using the logging API in OOTs is desirable. Furthermore, documenting (that can also happen in the shape of e.g. a patch) how to add that to existing OOTs is desirable, too!

[2018-02-13 15:39] noc0lour commented on #1608
Preferably gnuradio should expose some sort of logging API so people only have to link and require `libgnuradio-log` and not liblog4cpp directly.

[2018-02-13 15:47] mrjacobagilbert commented on #1608
I agree with @noc0lour as that was what I had expected to happen, but thats beyond me to make so... For what it's worth, this is also an issue with using ControlPort in OOTs (you need to copy over the FindThrift CMake module or it will be disabled).

While I am not a CMake expert, it seems like OOTs should have access to the GR CMake modules from the GR installation and not need to maintain their

[2018-02-13 17:27] marcusmueller commented on #1608
Exactly, we're currently looking towards removing swig/CMake cruft from the gr-newmod template (#1553), so not adding new CMake stuff to the template that we install with GR, anyway, would be a big plus (:switzerland:).

On the other hand, @noc0lour is absolutely right, as we're actually low-key planning to kick log4cpp out of the core, anyway, introducing it as direct dependency to the OOTs would

[2018-02-13 17:59] noc0lour commented on #1608
I think for GR 3.7 series we need to document how to use logging in a OOT since there are still some modules out there depending on it. Maybe we get there for 3.8 to have an actually API wrapping log4cpp and ctrlport?

[2018-02-14 19:47] marcusmueller commented on #1610
Note: replace with https://github.com/gnuradio/volk/pull/156 as soon as reliably available (probably not before 3.8 or 3.9).

[2018-02-15 05:03] c0debreaker commented on #1544
I should be detailed next time. I'm really sorry I just wrote `I fixed it`. Now I'm having a hard time trying to recall what I did. Most likely I just installed a missing dependency.

[2018-02-15 05:05] c0debreaker commented on #1544
This might help since I documented it. I think this is the gist that's related to this ticket
https://gist.github.com/c0debreaker/252e5e179bc5e7ca76c4041454703314

[2018-02-16 11:47] marcusmueller commented on #1544
Thanks! This is an issue I myself had an forgot to raise here. Will make this an official thing. Thanks!

[2018-02-16 12:04] marcusmueller opened #1615 "zmq.hpp: Not actually part of ZMQ itself, but we only list ZMQ as dependency."
While some distros ship a zmq.hpp alongside their zeromq devel packages, the zmq.hpp that we actually rely on is not actually part of the C bindings of zmq, but of [cppzmq](https://github.com/zeromq/cppzmq), which is a C++ header-only wrapper for the C API. So, users need both: the cppzmq header `zmq.hpp`, the zmq header `zmq.h`, and of course libzmq.

We conflate cppzmq with libzmq in our CMake s

[2018-02-16 17:14] marcusmueller commented on #1559
@mbr0wn I agree, it's a bug. I could fix it now, but that'd be an API break (long->uint64_t). We can do that, but should we do that for 3.7.12?

[2018-02-16 17:35] giladbeeri commented on #1583
@willcode ok, I'm leaving comments regarding the code itself in the PR.

[2018-02-16 17:44] marcusmueller commented on #1615
Just checked: F27 does have a `cppzmq-devel` package (no `cppzmq` package of its own, as header-only), but that doesn't come with the .pc that's part of the official source. :-1:

So, in effect, we have no better way of detecting `zmq.hpp` than to look into the default folders and where the `libzmq` .pc points to, which is what we currently do. Suboptimal.

[2018-02-16 17:52] marcusmueller opened #1616 "Doxygen/build-guide: Make sure dependency list is complete"
As of now, ZMQ is missing.

[2018-02-16 18:09] marcusmueller opened #1617 "Properly expose logging API to OOTs"
As #1608 documents, we should have a sane way of adding GR logging to OOTs, as documented by @mrjacobagilbert in 854a692871f51f97384dabcea8435cf87a70ce41 .

[2018-02-16 18:10] marcusmueller commented on #1608
Closing this issue as #1614 solves the documentational aspect, and #1617 documents the need to have a sane way for OOTs to enable logging easily in release 3.8.

[2018-02-16 18:10] #1608 closed

[2018-02-16 23:11] jacobagilbert opened #1619 "Properly expose ControlPort API to OOTs"
Similar to issue #1617 (and requiring a similar fix for the 3.7 API as in #1608) controlport requires CMake modifications are required in OOT/s before they will function correctly. Whatever is used to properly expose logging should also expose GR controlport.

[2018-02-16 23:16] marcusmueller opened #1620 "Investigate Compiler Warning that the 2-param `post` method is being hidden by the 1-param version"
[code]

Might indicate really only one is used, in which case: Cruft. Might indicate something else, in which case: Bug, maybe?

[2018-02-16 23:19] marcusmueller opened #1621 "`d_found` unused in gr::blocks::peak_detector_XX_impl"
Clean up.

[2018-02-16 23:21] marcusmueller opened #1622 "`d_tagpos` unused in vector_source"
clean up.

[2018-02-16 23:23] marcusmueller opened #1623 "`d_itemsize` unused in gr-blocks/lib/annotator_alltoall_impl.cc"
clean up.

[2018-02-16 23:25] marcusmueller opened #1624 "Remove unused members"
compiler's getting really verbose about unused private members; run with `-Wunused-private-field` and clean up.

[2018-02-16 23:37] marcusmueller commented on #1580
love the idea. Let's work on something like a minimal QA that makes a module, adds a python source to it, fills that source with a `range(1000)` generator, adds a python QA that checks that, runs that test and then deletes the directory. For 3.8.

[2018-02-16 23:38] marcusmueller commented on #1569
@diazm we're actually still waiting for a reply from you here – it would be very exciting if you added that functionality, and you could build upon our support while doing so!

[2018-02-16 23:39] #1565 closed

[2018-02-16 23:56] noc0lour commented on #1565
Then we still should take care off cmake < 3.1 and the `-std=gnu/c` issue.

[2018-02-17 00:13] marcusmueller commented on #1565
Didn't we take care of that in the "another stab..." pr?

[2018-02-17 00:13] marcusmueller commented on #1565
Didn't we take care of that in the "another stab..." pr?

[2018-02-17 00:14] marcusmueller commented on #1565
Didn't we take care of that in the "another stab..." pr?

[2018-02-17 00:14] marcusmueller commented on #1565
Didn't we take care of that in the "another stab..." pr?

[2018-02-17 01:02] noc0lour commented on #1565
Ah, sorry, yes.

[2018-02-17 04:16] tpalmerstudios commented on #1624
I  don't know much about this project, but I'll start working on it

[2018-02-17 15:19] marcusmueller commented on #1624
@tpalmerstudios that's great!

Have you built GNU Radio from source before? You'll need a relatively recent Clang or GCC (which version does `gcc -v` or `clang -v` give you?). Fedora 27 might be a good choice to run this on.

In the CMake step, you'd do something like

[code]

to get all the compiler warnings about unused private field. For example, I picked from that long list to get you started:

[2018-02-17 16:48] regulatre opened #1625 "snd_pcm_sw_params: Invalid argument accessing hw:1"
Flow graphs accessing the audio source device when the device is hw:1 and the flowgraph is running on a Raspberry Pi 2b (possibly others) experience problems opening the input device.

Devices in question seem all use an external USB audio adapter which shows up as hw:1 (since during boot the onboard sound system gets hw:0). The on-board Raspberry Pi audio system does NOT have an input source so h

[2018-02-17 16:50] regulatre commented on #1625
In the past I had limited success by using a gnuradio config that specified hw:1 as the default audio device, but today that trick isn't working, which precipitated me to open this ticket. Hopefully I provided enough info to go on. Thank you!

[2018-02-17 18:47] marcusmueller commented on #1625
Hi @regulatre! I'm not sure you're actually submitting a bug report for GNU Radio – feels like "the default value of `hw:0` doesn't work", but to be frank here: it's a rather strange config on your OS's side to have a hw:1 but not a hw:0 (there's nothing saying that USB soundcards can't have any number, these numbers are picked by ALSA and your OS's configuration); anyway, it's just a default valu

[2018-02-18 05:25] beaugunderson opened #1626 "hier_block2 exposes set_msg_handler in C++ but not in Python"
`set_msg_handler` is exposed on `hier_block2` in C++ but not in Python (I'd like to use it in a Python block).

If someone can point me in the right direction I'm happy to work on a PR. :)

[2018-02-18 10:41] willcode commented on #1626
C++ hier_block2 subclasses basic_block, where the Python version subclasses object. You could experiment with making Python's version subclass basic_block (easy enough to try) and see what happens. Are you looking to be able to dynamically route messages to different blocks, or sniff messages, or something like that?

[2018-02-18 16:24] talih0 commented on #1621
I can take this on

[2018-02-18 17:41] regulatre commented on #1625
If I knew of a way to push past the error I would tend to agree, however at this point I haven't been able to run the flow graph after thousands of tries (put it in a loop to see if it would eventually be successful) also tried rebooting the pi, and tweaking the config.conf (which worked occasionally in the past).

I'm afraid I don't know of a work-around.

I'm able to happily record audio using a

[2018-02-18 17:58] regulatre commented on #1625
I just tried manually setting the alsa device name using udev rules and it worked once, then subsequent attempts to run the flowgraph resulted in the same error again.

Error message:
[code]

udev rules (assign a unique hw:XXX device name to sound devices based on the Raspberry Pi USB port they are connected to):

[code]

Source: https://github.com/regulatre/gr-powerquality/blob/master/examples/ud

[2018-02-18 20:48] talih0 commented on #1621
@marcusmueller, should I work of the 'next' branch?

[2018-02-18 21:47] beaugunderson commented on #1626
@willcode ah, I see--I did find a workaround for what I wanted to do though.

I had a `hier_block2` "a" that contains a block "b" with a `b_out` port, and I wanted users of "a" to be able to receive messages from the `b_out` port.

This did the trick without needing to use a message handler:

[code]

It was not immediately obvious that connecting one out port to another out port would work, but it

[2018-02-18 22:00] noc0lour commented on #1626
You can document this in the wiki :)

[2018-02-18 22:44] jdemel commented on #1545
SciPy use should actually be reduced to a minimum. Here in paticular, polar codes actually use specific SciPy function.
I agree that making SciPy a build/run-time requirement does not hurt. Especially because almost everyone will need it and it is quite tightly bundled with NumPy anyways.

[2018-02-18 23:43] marcusmueller commented on #1545
Just having had a night of rest about this: don't underestimate the effort that goes into packaging Python packages for embedded platforms. If we do make scipy a runtime req, we should really very clearly define the affected components -maybe even in finer granularity than "gr-utils".

Am 18. Februar 2018 23:44:19 MEZ schrieb jdemel <notifications@github.com>:

--
Diese Nachricht wurde von meinem

[2018-02-19 00:29] regulatre commented on #1625
Update: I boiled down the app to the simplest form so I could pinpoint what was happening and I found a completely different issue was at play.

I have a probe connected to the audio input block and a thread that starts immediately trying to check the level() of that probe. As soon as I disabled that thread and re-ran the flowgraph I found the error has disappeared.

It seems the probe was trying